<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ORDER_DETAIL_TITLE_TEXT' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="closeModalCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #F0F0F0">

  <ng-container *ngIf="!type">
      <ion-list *ngFor="let product of extredetail">    
          <ion-item-divider outline class="list-title" style="margin-top: 10px;">
            <ion-icon name="water" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">Fatura Bilgileri</h5>
          </ion-item-divider>
      
          <ion-item class="txtStyle">
            <ion-label>Tarih</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="convertedDate">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>İşlem</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.ProcessDescription">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Belge No.</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.RefNumber">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Mağaza Kodu</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.StoreCode">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Satış Sorumlusu</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.SalespersonFirstLastName">
            </ion-input>
          </ion-item>
      
          <ion-item-divider outline class="list-title" style="margin-top: 10px;">
            <ion-icon name="water" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">Ürün Bilgileri</h5>
          </ion-item-divider>
      
          <ion-item class="txtStyle">
            <ion-label>Ürün Adı</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.ProductDescription">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Ürün Kodu</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.SKU">
            </ion-input>
          </ion-item>
      
          <ion-item-divider outline class="list-title" style="margin-top: 10px;">
            <ion-icon name="water" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">Ödeme Bilgileri</h5>
          </ion-item-divider>
      
          <ion-item class="txtStyle">
            <ion-item class="txtStyle">
              <ion-label>Fiyat</ion-label>
              <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.Price">
              </ion-input>
            </ion-item>
            <ion-label>Miktar</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.Qty1">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Tutar</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.Amount">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>İskonto</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.Discount">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Net Tutar</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.NetAmount">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Ödeme Planı</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.PaymentPlanCode">
            </ion-input>
          </ion-item>
          </ion-list>
      
          <ion-list *ngFor="let pinfo of paymentInfo">
          <ion-item-divider outline class="list-title" style="margin-top: 10px;">
            <ion-icon name="water" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">Borç Bilgileri</h5>
          </ion-item-divider>
      
          <ion-item class="txtStyle">
            <ion-label>Borç</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="pinfo.borc">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Ödeme</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="pinfo.odeme">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Bakiye</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="pinfo.bakiye">
            </ion-input>
          </ion-item>
        </ion-list>
  </ng-container>  

  <ng-container *ngIf="type">
      <ion-list *ngFor="let product of extredetail"> 

          <ion-item-divider outline class="list-title" style="margin-top: 10px;">
            <ion-icon name="water" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">Fatura Bilgileri</h5>
          </ion-item-divider>
      
          <ion-item class="txtStyle">
            <ion-label>Tarih</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="convertedDate">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>İşlem</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.Type">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Belge No.</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.RefNumber">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Mağaza Kodu</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.PolicyStoreCode">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Satış Sorumlusu</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.SalespersonFirstLastName">
            </ion-input>
          </ion-item>
      
          <ion-item-divider outline class="list-title" style="margin-top: 10px;">
            <ion-icon name="water" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">Ürün Bilgileri</h5>
          </ion-item-divider>
      
          <ion-item class="txtStyle">
            <ion-label>Ürün Adı</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.ItemDescription">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Ürün Kodu</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.ItemCode">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
              <ion-label>Ürün Rengi</ion-label>
              <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.ColorDescription">
              </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
              <ion-label>Ürün Renk Kodu</ion-label>
              <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.ColorCode">
              </ion-input>
          </ion-item>
      
          <ion-item-divider outline class="list-title" style="margin-top: 10px;">
            <ion-icon name="water" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">Ödeme Bilgileri</h5>
          </ion-item-divider>
      
          <ion-item class="txtStyle">
            <ion-item class="txtStyle">
              <ion-label>Fiyat</ion-label>
              <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.Price">
              </ion-input>
            </ion-item>
            <ion-label>Miktar</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.Qty1">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Tutar</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.Doc_Amount">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>İskonto</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.Doc_LDiscountTotal">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Net Tutar</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.Doc_NetAmount">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Ödeme Planı</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="product.PaymentPlanCode">
            </ion-input>
          </ion-item>
          </ion-list>
          
          <!--
          <ion-list *ngFor="let pinfo of paymentInfo">
          <ion-item-divider outline class="list-title" style="margin-top: 10px;">
            <ion-icon name="water" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">Borç Bilgileri</h5>
          </ion-item-divider>
      
          <ion-item class="txtStyle">
            <ion-label>Borç</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="pinfo.borc">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Ödeme</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="pinfo.odeme">
            </ion-input>
          </ion-item>
          <ion-item class="txtStyle">
            <ion-label>Bakiye</ion-label>
            <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="pinfo.bakiye">
            </ion-input>
          </ion-item>

          </ion-list>
          -->
  </ng-container> 

</ion-content>