page-invoice-detail {    
  ::-webkit-scrollbar,
    *::-webkit-scrollbar {
    display: none;
    }         
      ion-col .iconcol{
        color: #002D61;
        font-size: 20px;
      }
      .headerStyle{        
        color: #002D61; 
        font-size: 15px; 
        font-weight: bold;
        background-color: #ffffff;  
        text-align: center !important;      
    }
    .headerStyle2{        
      color: #002D61; 
      font-size: 15px; 
      font-weight: bold;      
      text-align: center !important;  
      background-color: #ffffff;
  }
    .grid {
      padding: 0px;     
    }
    .topmargin{
      padding-top: 0px;
    }
}
