<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bildirimler</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list *ngIf="serverService">
    <button ion-item menuClose (click)="goToOpenOrders()">
      Kapanmayan Siparisler
      <ion-icon name="open" item-left></ion-icon>
      <ion-badge item-end> {{serverService.openOrdersCount}}</ion-badge>
    </button>

    <button ion-item menuClose (click)="goToShipments()">
      Kabul Edilmemiş İrsaliyeler
      <ion-icon name="arrow-round-down" item-left></ion-icon>
      <ion-badge item-end> {{serverService.notAcceptedShipmentCount}}</ion-badge>
    </button>

  </ion-list>

</ion-content>
