<ion-header>
  <ion-navbar>
      <ion-title>Zaman Periyodu Ekle</ion-title>
      <ion-buttons start>
          <button ion-button icon-only (click)="closeModal()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
        <div class="item-native">
            <slot name="code">
                <ion-label>Kodu</ion-label>
                <ion-input  [(ngModel)]="timePeriodCode" placeholder="Zaman Periyodu Kodu Giriniz.."></ion-input>
            </slot>
        </div>
        <div class="item-native">
            <slot name="name">
                <ion-label>Adı</ion-label>
                <ion-input  [(ngModel)]="timePeriodName" placeholder="Zaman Periyodu Adı Giriniz.."></ion-input>
            </slot>
        </div>
        <div class="item-native">
            <slot name="startDate">
                <ion-label>Başlangıç Tarihi</ion-label>
                <ion-datetime min="2000" (ionChange)="parseStartDate()" placeholder="Başlangıç Tarihi Giriniz.." displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="startDate"></ion-datetime>
            </slot>
        </div>
        <div class="item-native">
            <slot name="endDate">
                <ion-label>Bitiş Tarihi</ion-label>
                <ion-datetime min="2000" (ionChange)="parseEndDate()" placeholder="Bitiş Tarihi Giriniz.." displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="endDate"></ion-datetime>
            </slot>
        </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <button ion-button class="hm_sign_btn" (click)="addTimePeriod()">Kaydet
      </button>
    </ion-toolbar>
  </ion-footer>