page-modal-time-period {
    input.text-input.text-input-md {
        opacity: 1;
        text-align: left;
        font-size: 13px;
    }
    .text-input-md {
        margin: 11px 7px;
        padding: 0;
        width: calc(100% - 8px - 8px);
    }
    .item-native {
        border-bottom: 1px solid #c7c6c6;
    }
    .label-md {
        margin: 6px 0 0 0;
    }
    .item-cover {
        z-index: -1;
        display: none;
    }
    .datetime-md {
        padding: 11px 10px 8px 8px;
    }
    .datetime-text {
        font-size: 13px;
    }
    
}
