// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.alertDanger {
    .alert-input-wrapper {
        width: 33%;
        border: 1px solid black;
        border-radius: 3px;
        margin: 0 0 0 24px;
        display: -webkit-inline-box;
    }
}
h2.alert-title.ng-star-inserted {
    text-align: center;
}
.fontsize100{
    font-size: 100px;
}

input#input1 {
  border-bottom: none !important;
  color: #000;
  text-align: -webkit-center;
}
input#input2{
  border-bottom: none !important;
  color: #000;
  text-align: -webkit-center;
}

input#input2:before{
    display: block;
    content: '%%';
    color: red;
}

.alertCustomCss {    
    .alert-input {
        padding-left: 15px;
        border: 1px solid #D0D0D0;     
        border-radius: 5px !important;
        caret-color: #30A0BA;              
    }

    .alert-title {
        color: #30A0BA; // text color for confirm alerts
        text-align: center;        
    }
  
    .alert-wrapper {
        border-radius: 10px !important;          
        width: 100%;                 
    } 

    .alert-button {
        font-weight: bold;    
    }     
  } 

  .alertCustomCss2 {      
    .alert-input {
        padding-left: 15px;
        border: 1px solid #D0D0D0;     
        border-radius: 5px !important;
        caret-color: #30A0BA;              
    }    

    .alert-title {
        color: #30A0BA; // text color for confirm alerts
        text-align: center;        
    }
  
    .alert-wrapper {
        border-radius: 10px !important;          
        width: 100%;                 
    } 

    .alert-button {
        font-weight: bold;    
    }     
  } 

$theme-color-1: #514F50;

// http://ionicframework.com/docs/v2/theming/
@import "../assets/css/custom.scss";
@import "../assets/css/font-awesome.scss";
