<ion-menu [content]="content" side="left" id="menu1">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'APP_SIDE_MENU_TITLE_TEXT' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <!-- <button ion-item menuClose (click)="goToCampaignsPage()">
        {{ 'HOME_CAMPAIGNS_TEXT' | translate }}
        <ion-icon name="trophy" item-left></ion-icon>
      </button> -->

      <!-- <button ion-item menuClose (click)="goToSettings()">
        {{ 'APP_SIDE_MENU_SETTINGS_TEXT' | translate }}
        <ion-icon name="settings" item-left></ion-icon>
      </button> -->

      <button ion-item menuClose (click)="logout()">
        {{ 'APP_SIDE_MENU_LOGOUT_TEXT' | translate }}
        <ion-icon name="log-out" item-left></ion-icon>
      </button>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
