<ion-header>
  <ion-navbar>
      <ion-title>Tutar Kuralı Ekle</ion-title>
      <ion-buttons start>
          <button ion-button icon-only (click)="closeModal()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
        <div class="item-native">
            <slot name="code">
                <ion-label>Kodu</ion-label>
                <ion-input placeholder="Tutar Kuralı Kodu Giriniz.."></ion-input>
            </slot>
        </div>
        <div class="item-native">
            <slot name="name">
                <ion-label>Adı</ion-label>
                <ion-input placeholder="Tutar Kuralı Adı Giriniz.."></ion-input>
            </slot>
        </div>
        <div class="item-native">
            <slot name="minAmount">
                <ion-label>Min. Alışveriş Tutarı</ion-label>
                <ion-input placeholder="Minimum Alışveriş Tutarı Giriniz.."></ion-input>
            </slot>
        </div>
        <div class="item-native">
            <slot name="maxAmount">
                <ion-label>Max. Alışveriş Tutarı</ion-label>
                <ion-input placeholder="Maximum Alışveriş Tutarı Giriniz.."></ion-input>
            </slot>
        </div>
        <div class="item-native">
            <slot name="discountRate">
                <ion-label>İskonto Oranı</ion-label>
                <ion-input placeholder="İskonto Oranı Giriniz.."></ion-input>
            </slot>
        </div>
        <div class="item-native">
            <slot name="discountAmount">
                <ion-label>İskonto Tutarı</ion-label>
                <ion-input placeholder="İskonto Tutarı Giriniz.."></ion-input>
            </slot>
        </div>
        <div class="item-native">
            <slot name="point">
                <ion-label>Puan</ion-label>
                <ion-input placeholder="Puan Giriniz.."></ion-input>
            </slot>
        </div>
        <ion-item>
            <ion-label>Girilen Değerlerin Katlarını Kullan</ion-label>
            <ion-checkbox slot="end" value="" checked></ion-checkbox>
        </ion-item>
</ion-content>
