// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$white: #FFFFFF;
$white-a: darken($white, 3%);
$white-b: darken($white, 6%);
$white-c: darken($white, 12%);
$white-d: darken($white, 24%);

$black: rgba(#000000, .8);
$black-a: lighten($black, 10%);
$black-b: lighten($black, 20%);
$black-c: lighten($black, 40%);
$black-d: lighten($black, 60%);

$main-theme-color: #002D61;
$theme-color-1: #EB0045;
$theme-color-2: #9D9D9C;
$theme-color-3: #000000;
$theme-color-4: #DADADA;
$theme-color-5: #FFFFFF;
$theme-color-6: #CF2030;
$theme-color-7: #5e5874;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  softblue: #489CDF,
  softgray: #DCDBDB,
  header:(
    base: #002D61,
    contrast: #FFFFFF
  )
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$searchbar-ios-border-color: #488aff;
$searchbar-ios-input-placeholder-color: #488aff;
$searchbar-ios-border-color: #488aff;
$searchbar-ios-input-search-icon-color: #488aff;
$searchbar-ios-input-search-icon-size: 16px;
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon fonts for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
$font-family-base: "Dosis" !default;

$tab-button-color: #FFFFFF;
$tab-button-active-color: #FFFFFF;
$searchbar-input-color: #F1F1F1;
$scrollbar-thumb-color: #A0A0A0;

ion-menu {
  .scroll-content {
    overflow: hidden !important;
  }
}

.scroll-content {
  overflow: auto;
}

.products {
  content: url('../assets/image/shopping.png');
}

.customers {
  content: url('../assets/image/teamwork3.png');
}

.customer {
  content: url('../assets/image/customer.png');
}

.order {
  content: url('../assets/image/goods.png');
}

.campaigns {
  content: url('../assets/image/digital-campaign.png');
}

.delivery {
  content: url('../assets/image/delivery-truck.png');
}

.reports {
  content: url('../assets/image/report.png');
}

.forward_arrow {
  content: url('../assets/image/hm_forward_arrow.png');
}

.closeicon {
  content: url('../assets/image/hm_add_close.png');
}

.tabbar {
  background-color: #00244e !important;
  border-top: none !important;
}

.tab-button, .tab-button-icon {
  color: $tab-button-color !important;
}

.tab-button[aria-selected=true], .tab-button[aria-selected=true] .tab-button-icon {
  color: $tab-button-active-color !important;
}

@mixin header-styles($background, $color) {
  .toolbar-background {
    border: none !important;
    background-color: $background;
  }

  .toolbar-title,
  .back-button,
  .bar-button {
    color: $color;
  }
}

ion-header {
  @include header-styles(color($colors, header, base), color($colors, header, contrast));
}

ion-searchbar {
  background: transparent !important;
  border: none !important;
  .searchbar-input-container {
    .searchbar-input {
      background: $searchbar-input-color;
      border-radius: 20px;
    }
  }
}

.scroll-content::-webkit-scrollbar {
  margin-left: 22px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.scroll-content::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.scroll-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scroll-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $scrollbar-thumb-color;
}

.item-divider.list-title {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  background-color: cornflowerblue !important;
  .icon {
    color: white !important;
  }
  .item {
    border-bottom: none !important;
    box-shadow: none !important;
    .item-inner {
      border-bottom: none !important;
      box-shadow: none !important;
    }
  }
  .item-inner {
    .label {
      padding: 2px 0px !important;
      color: white !important;
    }
    button {
      padding: 5px !important;
      background-color: white !important;
      .button-inner {
        .icon {
          color: blue !important;
          font-weight: bold !important;
        }
      }
    }
  }
}

.list-header {
  background-color: cornflowerblue !important;
  color: white !important;
}

.item-input-disabled {
  .label {
    opacity: 0.4 !important;
  }
}

.list {
  .item {
    border-bottom: none !important;
    box-shadow: none !important;
    .item-inner {
      box-shadow: none !important;
    }
  }
  .item:first-child {
    border-top: none !important;
    box-shadow: none !important;
  }
  .item:last-child {
    border-bottom: 0.55px solid #c8c7cc !important;
  }
}

.footer {
  .button-full {
    background-color: green !important;
  }
}

.tool-bar-buttons {
  button {
    margin: 0 5px!important;
  }
}

.ios-header-margin{
  margin-right: 10px;
}

.ios-header-margin-25{
  margin-right: 40px;
}
