<ion-header>

  <ion-navbar>
    <ion-title>Kampanya Detayı</ion-title>
    <ion-buttons end class="tool-bar-buttons">
      <button ion-button icon-only (tap)="plusButtonActionSheet()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-item>
    <ion-label>Başlangıç Tarihi</ion-label>
    <ion-datetime min="2015" max="2025" placeholder="Başlangıç Tarihi Giriniz.." displayFormat="DD/MM/YYYY"
      pickerFormat="DD MM YYYY" [(ngModel)]="startDate">
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Bitiş Tarihi</ion-label>
    <ion-datetime min="2015" max="2025" placeholder="Bitiş Tarihi Giriniz.." displayFormat="DD/MM/YYYY"
      pickerFormat="DD MM YYYY" [(ngModel)]="endDate">
    </ion-datetime>
  </ion-item> -->
  <!-- <ion-item>
    <ion-label>Kampanya Adı</ion-label>
    <ion-input class="end-input" type="text" [(ngModel)]="campaignData.DiscountOfferApplyDescription">
    </ion-input>
  </ion-item> -->
  <ion-item>
    <ion-label>Kampanya Adı</ion-label>
    <select-searchable item-content [(ngModel)]="selectedDiscountOfferApply" [items]="discountOfferApply"
      itemValueField="Code" itemTextField="Description" [canSearch]="true">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label>Zaman Periyodu</ion-label>
    <select-searchable item-content [(ngModel)]="selectedDiscountTimePeriod" [items]="discountTimePeriod"
      itemValueField="Code" itemTextField="Description" [canSearch]="true">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label>Kampanya Türü</ion-label>
    <select-searchable item-content [(ngModel)]="selectedDiscountOfferType" [items]="discountOfferType"
      itemValueField="Code" itemTextField="Description" [canSearch]="true">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label>getDiscountOffers</ion-label>
    <select-searchable item-content [(ngModel)]="selectedDiscountOffers" [items]="discountOffers" itemValueField="Code"
      itemTextField="Description" [canSearch]="true">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label>getDiscountOfferMethod</ion-label>
    <select-searchable item-content [(ngModel)]="selectedDiscountOfferMethod" [items]="discountOfferMethod"
      itemValueField="Code" itemTextField="Description" [canSearch]="true">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label>getDiscountProcess</ion-label>
    <select-searchable item-content [(ngModel)]="selectedDiscountProcess" [items]="discountProcess"
      itemValueField="Code" itemTextField="Description" [canSearch]="true">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label>getDiscountVoucherType</ion-label>
    <select-searchable item-content [(ngModel)]="selectedDiscountVoucherType" [items]="discountVoucherType"
      itemValueField="Code" itemTextField="Description" [canSearch]="true">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label>getDiscountPointType</ion-label>
    <select-searchable item-content [(ngModel)]="selectedDiscountPointType" [items]="discountPointType"
      itemValueField="Code" itemTextField="Description" [canSearch]="true">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label>getDiscountPointBase</ion-label>
    <select-searchable item-content [(ngModel)]="selectedDiscountPointBase" [items]="discountPointBase"
      itemValueField="Code" itemTextField="Description" [canSearch]="true">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label>getDiscountProductPointType</ion-label>
    <select-searchable item-content [(ngModel)]="selectedDiscountProductPointType" [items]="discountProductPointType"
      itemValueField="Code" itemTextField="Description" [canSearch]="true">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label>getDiscountOfferStage</ion-label>
    <select-searchable item-content [(ngModel)]="selectedDiscountOfferStage" [items]="discountOfferStage"
      itemValueField="Code" itemTextField="Description" [canSearch]="true">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label>getDiscountAmountRule</ion-label>
    <select-searchable item-content [(ngModel)]="selectedDiscountAmountRule" [items]="discountAmountRule"
      itemValueField="Code" itemTextField="Description" [canSearch]="true">
    </select-searchable>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button class="hm_sign_btn" (click)="goToItemsModal()">Ürünler
    </button>
  </ion-toolbar>
</ion-footer>