page-warehouse {
  .scroll-content {
    background-color: #f1f1f1;
    padding: 0px 10px !important;
  }
  .colors-select {
    background-color: transparent !important;
    margin: 0px !important;
    padding: 0px 0px 0px 5px !important;
    .item-inner {
      border-bottom: none !important;
      box-shadow: none !important;
      margin: 0px !important;
      padding: 0px !important;
    }
    .select-icon {
      margin-right: 8px !important;
    }
  }

  .my-card {
    text-align: right;
}

  .product {
    img {
      width: 40%;
      margin: 5px;
      float: left;
    }
    .detail {
      width: 55%;
      min-height: 200px;
      float: left;
      h5 {
        font-size: 20px;
        min-height: 50px;
      }
    }
    .price {
      font-size: 15px;
      font-weight: 900;
      margin: 5px 0px;
    }
    .colors {
      min-width: 95%;
      padding: 5px;
      margin-top: 5px;
      border-radius: 20px;
    }
    .colors:focus {
      outline: none;
    }
    .sizes {
      padding: 0px 5px;
      flex-wrap: wrap;
      .col {
        background-color: #faae3f;
        color: #fff;
        border-radius: 20px;
        margin: 5px;
        text-align: center;
        max-width: 22%;
      }
      .disabled {
        opacity: 0.4;
      }
      .selected {
        opacity: 0.9;
        background-color: violet;
      }
    }
  }
}
.clr_font {
  color: #8B8989;
  position: relative;
}
.clr2_font {
  color: #488aff;
  position: relative;
}
.clr3_font {
  color: red;
  position: relative;
  margin-top: 12px;
  margin-left: -10px;
}
.dimen {
  left: -2px;
  top: 0px;
}
.dimen1 {
  top: 0px;
  right: -5px;
}
.dimen2 {
  top: 0px;
  right: 10px;
}
.alignments {
  position: relative;
  margin-top: -5px;
}
.beden-position {
  right: -10px;
}
.beden-position1 {
  margin-left: 10px;
}
.hm_alternatives_scroll {
  width: 100%;
  h5{
    padding-left: 10px;
  }
}

.row .col:first-child {
  font-weight: bolder;
}
