<ion-header>
    <ion-navbar>
        <ion-title>Depo</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <!-- <ion-item-divider color="light" class="list-title"><h5 color="primary">Fiyat Listesi</h5></ion-item-divider>
    <ion-list *ngIf="productPrices" padding>
        <ion-item *ngFor="let item of productPrices">
            <h4 class="clr_font" *ngIf="!item.PaymentPlanCode">{{item.PriceGroupDescription}} - {{item.Barcode}}</h4>
            <h4 class="clr_font" *ngIf="item.PaymentPlanCode">{{item.PaymentPlanCode}} Taksit</h4>
            <h3 class="clr3_font" item-end>{{item.Price}}{{serverService.Settings.G3Settings.Currency}}</h3>
            <p class="clr2_font" *ngIf="!item.PaymentPlanCode"> {{item.ColorDescription}} - {{item.ItemDim1Code}}</p>
        </ion-item>
    </ion-list> -->

    <!--<ion-item-divider *ngIf="productColorSizeMatrix.length>0" color="light" class="list-title"><h5 color="primary">Renk/Beden Matrisi</h5></ion-item-divider>-->

    <!-- ion-list>
        <ion-item type="item-text-wrap">
            <div class="row">
                <div class="col" *ngFor="let color of colHeaders; let i = index">
                    {{color.ColorCode}}
                    <div class="col" *ngFor="let item of productColorSizeMatrix; let j = index">
                        {{item[color.ColorCode]}}
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list -->

    <!--
    <ion-list *ngIf="colHeaders && productColorSizeMatrix.length>0">
        <div class="row">
            <div class="col" *ngFor="let dim1 of colHeaders; let i = index">
                <b style="margin-left: 5px;">{{dim1.ItemDim1Code}}</b>
                <div class="col" style="min-height: 26px" *ngFor="let item of productColorSizeMatrix; let j = index">
                    <a *ngIf="item[dim1.ItemDim1Code]=='R/B'">{{serverService.getColorDescription(item[dim1?.ItemDim1Code])}}</a>
                    <a *ngIf="item[dim1.ItemDim1Code]!='R/B'">{{item[dim1?.ItemDim1Code]}}</a>
                    {{getData(dim1, item)}}
                </div>
            </div>
        </div>
    </ion-list>
    -->

    <ng-container *ngIf="checkdatabase == 1">
        <ion-item-divider color="light" class="list-title">
            <h3> Fiyat Listesi</h3>
        </ion-item-divider>
        <div class="my-card">
            <ion-list>
                <ion-item *ngFor="let prices of productPrices; let i = index">
                    <ion-label>{{PaymentPlanDescriptions[i]}}</ion-label>
                    <ion-label class="label-f-right">{{prices.Price}}{{getPriceGroup(prices.PaymentPlanCode)}}
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>

        <ng-container *ngIf="color&&size">
            <ion-item-divider color="light" class="list-title">
                <h5 color="primary">Depo Envanter (Barkod)</h5>
            </ion-item-divider>
            <ion-row>
                <ion-col style="margin-left: 5px;" width-33>
                    <b>Renk:</b> <span style="font-weight:normal;">{{serverService.getColorDescription(color)}}</span>
                </ion-col>
                <ion-col width-33>
                    <b>Beden:</b> {{size}}
                </ion-col>
                <ion-col width-33>
                    <b>Envanter:</b> {{realqty}}
                </ion-col>
            </ion-row>
        </ng-container>

        <ion-item-divider color="light" class="list-title" style="margin-top: 10px;">
            <h5 color="primary">Depo Enventer</h5>
        </ion-item-divider>
        <ion-list *ngIf="colHeaders && productColorSizeMatrix.length>0">
            <div class="row">
                <div class="col" *ngFor="let dim1 of colHeaders; let i = index">
                    <b style="margin-left: 5px;">{{dim1.ItemDim1Code}}</b>
                    <div class="col" style="min-height: 26px"
                        *ngFor="let item of productColorSizeMatrix; let j = index">
                        {{getData(dim1, item)}}
                    </div>
                </div>
            </div>
        </ion-list>
    </ng-container>

    <ng-container *ngIf="checkdatabase == 0">
        <ion-item-divider color="light" class="list-title" style="margin-top: 10px;">
            <h5 color="primary">Depo Enventer</h5>
        </ion-item-divider>
        <ion-list *ngIf="ProductWarehouse" padding>
            <ion-item>
                <ion-row class="alignments">
                    <ion-col>
                        <h4 class="clr_font">Depo</h4>
                    </ion-col>
                    <ion-col>
                        <h3 class="clr3_font dimen2">Renk / Beden</h3>
                    </ion-col>
                    <ion-col>
                        <p class="clr2_font dimen1">Enventer</p>
                    </ion-col>

                </ion-row>
            </ion-item>
            <ion-item *ngFor="let item of ProductWarehouse">
                <ion-row>
                    <ion-col>
                        <h4 class="clr_font">{{item.WareHouseCode}}</h4>
                    </ion-col>
                    <ion-col>
                        <h3 class="clr3_font beden-position1" item-end>({{item.ColorCode}}) / {{item.ItemDim1Code}}</h3>
                    </ion-col>
                    <ion-col *ngIf="!(item.Inventory >=0)">
                        <p style="color: red" class="clr2_font beden-position"> {{item.Inventory}}</p>
                    </ion-col>
                    <ion-col *ngIf="item.Inventory >=0">
                        <p class="clr2_font beden-position"> {{item.Inventory}}</p>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </ng-container>

    <!--
    <ion-row *ngIf="colHeaders">
            <ion-col style="font-size: 12px;" *ngFor="let size of colHeaders" [style.display]="(size.ItemDim1Code!='R/B')?'' : 'none'">
              {{size.ItemDim1Code}}
            </ion-col>
    </ion-row>
    -->

    <!--
    <ion-list *ngIf="productColorSizeMatrix">
        <ng-container *ngFor="let item of productColorSizeMatrix; let i = index">
            <ion-row style="padding-top: 10px; padding-left: 15px;">
                    {{serverService.getColorDescription(productColorSizeMatrix[i]['R/B'])}}
            </ion-row>     
            <ion-row *ngIf="colHeaders" style="padding-left: 10px; padding-top: 5px;">
                <ion-col style="font-size: 12px;" *ngFor="let size of ProductWarehouse" [style.display]="(size.ItemDim1Code!='R/B')?'' : 'none'">
                    {{size.ItemDim1Code}}: {{size.Inventory}}
                </ion-col>
            </ion-row>
        </ng-container>          
    </ion-list>
    -->
    <!--
    <ion-list *ngIf="ProductWarehouse" padding>
        <ion-item>
            <ion-row class="alignments">
                <ion-col>
                    <h4 class="clr_font">Depo</h4>
                </ion-col>
                <ion-col>
                    <p class="clr2_font dimen2">Enventer</p>
                </ion-col>
                <ion-col>
                    <h3 class="clr3_font dimen1 ">Beden - Renk</h3>
                </ion-col>
            </ion-row>
        </ion-item>
12H647606725
        <ion-item *ngFor="let item of ProductWarehouse">
            <ion-row>
                <ion-col>
                    <h4 class="clr_font">{{item.WareHouseCode}}</h4>
                </ion-col>
                <ion-col>
                    <p class="clr2_font beden-position1"> {{item.Inventory}}</p>
                </ion-col>
                <ion-col>
                    <h3 class="clr3_font beden-position" item-end>{{item.ItemDim1Code}} - {{serverService.getColorDescription(item.ColorCode)}}</h3>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    -->
</ion-content>