<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ATTRIBUTES_TITLE_TEXT' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="true"
    cancelButtonText="{{ 'SEARCHBAR_CANCEL_BUTTON_TEXT' | translate }}"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)"
    (keydown.enter)="onInput($event)">
  </ion-searchbar>  

  <ion-list>
    <button ion-item *ngFor="let att of MarkaListTmp" (tap)="goToProductsPage(att.AttributeCode, att.AttributeTypeCode)" detail-push>
      {{att.AttributeDescription}}
    </button>
  </ion-list>
</ion-content>
