<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="closeModalCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="true"
      placeholder="Meslek Ara..."
      cancelButtonText="{{ 'SEARCHBAR_CANCEL_BUTTON_TEXT' | translate }}"
      (ionCancel)="onCancel($event)"
      (keydown.enter)="onInput($event)">
    </ion-searchbar>  
    <!-- (ionInput)="onInput($event)" -->

  <ion-list>
    <button ion-item *ngFor="let att of attributeType17List" (tap)="goToCustomerPage(att)" detail-push>
      {{att.AttributeDescription}}
    </button>
  </ion-list>

</ion-content>