<ion-header>
    <ion-navbar>                    
        <ion-buttons start>
            <button ion-button icon-only (click)="closeModalCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding>                                              
      <ion-row>
        <ion-col col-6>
            <ion-label>Tutar Aralığı Giriniz</ion-label>
            <ion-input class="inputtext" type="number" [(ngModel)]="minTotal" placeholder="Min"></ion-input>       
        </ion-col>        
        <ion-col col-6>
            <ion-input class="inputtext2" type="number" [(ngModel)]="maxTotal" placeholder="Max"></ion-input>       
        </ion-col>
      </ion-row>   
      <ion-row>
          <ion-col col-6>
              <ion-label>Tarih Aralığı Giriniz</ion-label>
              <ion-datetime class="datetime" min="2000" placeholder="Başlangıç" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="startDate"></ion-datetime>
          </ion-col>        
          <ion-col col-6>
              <ion-datetime class="datetime2" min="2000" placeholder="Bitiş" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="endDate"></ion-datetime>
          </ion-col>
        </ion-row>                                    
</ion-content>

<ion-footer>
    <button ion-button block color="secondary" (click)="closeModal()">Sonuçları Ara</button>
    <button ion-button block color="#30A0BA" (click)="closeModalCancel()">İptal</button>
</ion-footer>
