page-order-detail {
    .footer-total{        
        color: blue;
        font-weight: bold;
    }
    ion-card {
        border-radius:10px !important;            
    }    

    ion-card .cardcolor{        
      border: 1px solid #D3D3D3;            
    }  

    ion-col .iconcol{
      color: #002D61;
    }

    ion-icon { 
        font-size: 27px;         
      }

      .col_text {
        font-size: 20.5px; 
      }       
          
      .icon_color {
        color: white;
      }   

      // #oldStyle .col{
      //   max-width: 17% !important;
      //   text-align: center;
      // }
      .headerStyle{
        color: #002D61; 
        font-size: 16px; 
        font-weight: bold;
        background-color: #ffffff;
        padding:5px;
    }
    .scroll-content {
        margin-top: 94px !important;
        margin-bottom: 107px !important;
    }   
}
