<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ORDER-DETAIL_TITLE_TEXT' | translate }}</ion-title>
    <ion-buttons start>
        <button ion-button icon-only [disabled]="checkdatabase == 1" (click)="onButtonClick()">
          <ion-icon 
                [name]="buttonClicked ? 'list' :'albums'"
                class="icon_color">
          </ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
  <ion-row id="headerStyle" class="headerStyle">
        <ion-col width-15>{{'ITEM_CODE_TEXT' | translate}}</ion-col>
        <!-- <ion-col width-20>{{'ITEM_DESC_TEXT' | translate}}</ion-col> -->
        <!-- <ion-col width-10>{{'COLOR_TEXT' | translate}}</ion-col>
        <ion-col width-10>{{'INVENTORY_SIZE_TEXT' | translate}}</ion-col> -->
        <ion-col width-15>{{'INVENTORY_QUANTITY_TEXT' | translate}}</ion-col>
        <ion-col width-15>{{'ORDER-DETAIL_PRICE_TEXT' | translate}}</ion-col>
        <ion-col width-5>{{'AMOUNT_TEXT' | translate}}</ion-col>
      </ion-row>
</ion-header>

<ion-content style="background-color: #F0F0F0">  
    <ng-container *ngIf="buttonClicked">
            <ion-card *ngFor="let item of details; let i = index;">     
                    <ion-card-content class="col_text">                               
                        <ion-row style="margin-top: 5px">
                            <ion-col col-1>
                                <ion-icon name="filing" class="iconcol"></ion-icon>
                            </ion-col>
                            <ion-col col-11 style="padding-left: 15px;">
                                {{ item.ItemDescription }} <span style="font-size: 17px;" [innerHTML]="'(#' + item.ItemCode + ')'"></span>                
                            </ion-col>
                        </ion-row>                            
                          <!-- <ion-row style="margin-top: 8px">
                              <ion-col col-1>
                                  <ion-icon name="color-fill" class="iconcol"></ion-icon>
                              </ion-col>
                              <ion-col col-5 style="padding-left: 15px;">
                                  {{serverService.getColorDescription(item.ColorCode)}}
                              </ion-col>
                              <ion-col col-1>
                                <ion-icon name="body" class="iconcol"></ion-icon>
                            </ion-col>
                            <ion-col col-5 style="padding-left: 15px;">
                                {{item.ItemDim1Code}}
                            </ion-col>
                          </ion-row>                            -->
                          <ion-row style="margin-top: 8px">
                              <ion-col col-1>
                                  <ion-icon name="cart" class="iconcol"></ion-icon>
                              </ion-col>
                              <ion-col col-5 style="padding-left: 15px;">
                                  {{item.Qty1}}
                              </ion-col>
                              <ion-col col-1>
                                <ion-icon name="pricetag" class="iconcol"></ion-icon>
                            </ion-col>
                            <ion-col col-5 style="padding-left: 15px;">
                                {{item.Price + " ₺"}}
                            </ion-col>
                          </ion-row>                                        
                          <ion-card class="cardcolor">
                              <ion-card-content style="text-align: center; font-size: 20.5px; color: #002D61; font-weight: bold;">
                               <span>Tutar : </span> {{item.Doc_Amount + " ₺"}}                                 
                              </ion-card-content>
                          </ion-card>
                    </ion-card-content>
            </ion-card>
    </ng-container>  
    <ng-container *ngIf="!buttonClicked">
        <ng-container *ngIf="checkdatabase == 1">
                <ion-grid style="background-color: #F0F0F0; font-size: 16px;">                    
                        <div *ngFor="let item of details; let i = index;">
                            <ion-row id="oldStyle" [ngStyle]="{'background-color': i % 2 == 0 ? '#def0fd' : '#ffffff'}" style="color: #484848; text-align: left; padding: 12px;">
                              <ion-col width-40>{{item.ItemCode}}</ion-col>                              
                              <ion-col width-15>{{item.Qty1}}</ion-col>
                              <ion-col *ngIf="item.LDisRate1 > 0" width-15>{{item.Doc_Price - (item.LDisRate1*item.Doc_Price/100)}}₺</ion-col>
                              <ion-col *ngIf="item.LDisRate1 == 0" width-15>{{item.Doc_Price}}₺</ion-col>
                              <ion-col width-5>{{item.Qty1 * (item.Doc_Price - (item.LDisRate1*item.Doc_Price/100))}}₺</ion-col>
                            </ion-row>                            
                        </div>
                </ion-grid>
        </ng-container>
        <ng-container *ngIf="checkdatabase == 0">
                <ion-grid style="background-color: #F0F0F0; font-size: 16px;">                    
                        <div *ngFor="let item of details; let i = index;">
                            <ion-row id="oldStyle" [ngStyle]="{'background-color': i % 2 == 0 ? '#def0fd' : '#ffffff'}" style="color: #484848; text-align: left; padding: 12px;">
                              <ion-col width-40>{{item.ItemCode}}</ion-col>
                              <!-- <ion-col width-20>{{item.ItemDescription}}</ion-col> -->
                              <!-- <ion-col width-10>{{serverService.getColorDescription(item.ColorCode)}}</ion-col>
                              <ion-col width-10>{{item.ItemDim1Code}}</ion-col> -->
                              <ion-col width-15>{{item.Qty1}}</ion-col>
                              <ion-col width-15>{{item.Price}}₺</ion-col>
                              <ion-col width-5>{{item.Doc_Amount}}₺</ion-col>
                            </ion-row>
                        </div>
                </ion-grid>
        </ng-container>            
    </ng-container>    

    <!--KULLANILMIYOR-->
    <!--ion-item *ngFor="let product of details">
        <h4>{{product.ItemCode}} - {{product.ItemDescription}}</h4>
        <p>{{ 'INVENTORY_QUANTITY_TEXT' | translate }} :{{product.Qty1}}</p>
        <h3 *ngIf="product.LDisRate1>0">{{ 'ORDER-DETAIL_DISCOUNT_RATE_TEXT' | translate }} : [%{{product.LDisRate1}}] -
          {{product.LDisRate1*product.Price/100}} </h3>
        <p item-end>{{ 'ORDER-DETAIL_PRICE_TEXT' | translate }} :{{product.Price}} ₺</p>
    </ion-item -->
</ion-content>

<ion-footer>
    <ion-card>
            <ion-card-content style="text-align: center; font-size: 20.5px; color: #002D61; font-weight: bold;">
                    <span>Toplam : </span> {{total + " ₺"}}                                 
            </ion-card-content>
    </ion-card>   
</ion-footer>
