<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'CUSTOMERS_TITLE_TEXT' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addCustomer()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="filterModal()">
        <ion-icon name="search"></ion-icon>
      </button>
      <!-- <button ion-button icon-only (click)="refreshFilter()">
        <ion-icon name="refresh"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="hm_sign_bg">
  <ng-container *ngIf="dataList.length > 0">
    <ion-list>
      <div class="hm_message_div">
        <ul>
          <li (click)="goTo(customer)" *ngFor="let customer of dataList">
            <!-- <div class="hm_message_pic"> -->
            <!-- <img [src]="customer.Image" *ngIf="customer.Image"/> -->
            <!-- <img class="customer" *ngIf="!customer.Image"/> -->
            <!-- <div class="hm_message_not"></div> -->
            <!-- </div> -->

            <ng-container *ngIf="checkdatabase == 1">
              <div class="hm_message_detail_f_left">
                <h4>
                  {{customer.CustomerName}}
                </h4>
                <h4>
                  {{customer.Address}}
                </h4>
              </div>
              <div class="hm_message_detail_f_left">
                <h4>{{customer.IdentityNum}}</h4>
                <h4>{{customer.Mobile}}</h4>
              </div>
              <div class="hm_message_date">
                <img class="forward_arrow" />
              </div>
              <div class="hm_clear"></div>
            </ng-container>

            <ng-container *ngIf="checkdatabase == 0 && customer">
              <div class="hm_message_detail_f_left">
                <h4
                  [style.color]="customer.DebtStatusTypeCode == 1 ||  customer.DebtStatusTypeCode == 3 || customer.DebtStatusTypeCode == 4 ? '#FF0000' :'#000000'">
                  {{customer.FirstName}} {{customer.LastName}}
                </h4>
                <h4
                  [style.color]="customer.DebtStatusTypeCode == 1 ||  customer.DebtStatusTypeCode == 3 || customer.DebtStatusTypeCode == 4 ? '#FF0000' :'#000000'">
                  {{customer.Address}}
                </h4>
              </div>
              <div class="hm_message_detail_f_left">
                <h4
                  [style.color]="customer.DebtStatusTypeCode == 1 ||  customer.DebtStatusTypeCode == 3 || customer.DebtStatusTypeCode == 4 ? '#FF0000' :'#000000'">
                  {{customer.IdentityNum}}</h4>
                <h4
                  [style.color]="customer.DebtStatusTypeCode == 1 ||  customer.DebtStatusTypeCode == 3 || customer.DebtStatusTypeCode == 4 ? '#FF0000' :'#000000'">
                  {{customer.Mobile}}</h4>
              </div>
              <div class="hm_message_date">
                <img class="forward_arrow" />
              </div>
              <div class="hm_clear"></div>
            </ng-container>

          </li>
        </ul>
      </div>
    </ion-list>
  </ng-container>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Yükleniyor...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>