<ion-content padding>
  <ng-container *ngIf="checkdatabase == 1">
    <h3 class="center">Fişiniz Oluşturuluyor Lütfen Bekleyiniz...</h3>
  </ng-container>
  <ng-container *ngIf="checkdatabase == 0">
    <ion-row>
      <ion-col col-6>
        <ion-label id="Date">Tarih:</ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-label id="Dateval">{{Date}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-label id="Ref">Referans Numarası:</ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-label id="Refval">{{RefNo}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-label id="Custo">Müşteri Adı:</ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-label id="Custoval">{{CustomerName}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-label id="Custocod">Müşteri Kodu:</ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-label id="Custocodval">{{CustomerCode}}</ion-label>
      </ion-col>
    </ion-row>

    <ng-container>
      <ion-item *ngFor="let item of Products">
        <ion-row>
          <ion-col col-12>
            {{item.ItemDescription}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="item.UseSerialNumber == true && this.serverService.Settings.V3Settings.SalesType == 5">
          <ion-col col-12>
            Seri No: {{item.seriNumber}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            Adet: {{item.Qty1}}
          </ion-col>
          <ion-col col-4>
            Fiyat: {{item.Price}} {{serverService.Settings.G3Settings.Currency}}
          </ion-col>
          <ion-col col-4>
            Toplam: {{item.Price * item.Qty1}} {{serverService.Settings.G3Settings.Currency}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ng-container>

    <ion-row>
      <ion-col>
        <ion-label text-left id="top">Toplam: {{getTotal()}}{{serverService.Settings.G3Settings.Currency}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label text-wrap id="info">Açıklama: {{infoText}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label text-wrap id="personelname">Satış Sorumlusu:
          {{this.serverService.Settings.V3Settings.SalespersonName}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label text-wrap id="personelcode">Satış Sorumlusu Kodu:
          {{this.serverService.Settings.V3Settings.SalespersonNameCode}}</ion-label>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>

<ion-footer *ngIf="checkdatabase == 0">
  <button class="receipt-button" ion-button block color="primary" (click)="closeModal()">Geri</button>
  <button class="receipt-button" ion-button block color="secondary" (click)="createPdf()">Yazdır</button>
</ion-footer>