<ion-header>

    <ion-navbar>
        <ion-title>
            <ion-icon name="settings" (tap)="setSettingsV3TEST()"></ion-icon>
            {{ 'SETTINGS_TITLE_TEXT' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <button ion-button class="hm_sign_btn" *ngIf="settingsList.length==0" (tap)="setSettings0()">{{
        'DEMO_TXT' | translate }}
    </button>

    <ion-item *ngIf="settingsList" (tap)="showEmptyListToast()">
        <ion-label>{{ 'LIST_HEADER_SELECT_TEXT' | translate }}</ion-label>
        <ion-select [disabled]="settingsList.length==0" (ionChange)="onSelectChange($event)"
            okText="{{ 'ALERT_BUTTON_OK_TEXT' | translate }}" cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}">
            <ion-option value="{{i}}" *ngFor="let item of settingsList, let i=index">{{item.Header}}
            </ion-option>
        </ion-select>
    </ion-item>

    <ion-list *ngIf="settings.G3Settings">

        <ion-item-divider color="light">{{ 'SETTINGS_SETTINGS_GENERAL_DIVIDER_TITLE_TEXT' | translate }}
        </ion-item-divider>

        <ion-item>
            <ion-label>{{ 'SETTINGS_SETTINGS_IMAGE_URL_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.G3Settings.ImageURL"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'SETTINGS_SETTINGS_G3_ORDER_COUNT_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.G3Settings.OrderCount"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'SETTINGS_SETTINGS_G3_CURRENCY_LABEL_TEXT' | translate }}</ion-label>
            <ion-select [(ngModel)]="settings.G3Settings.Currency">
                <ion-option value="₺">TL</ion-option>
                <ion-option value="$">USD</ion-option>
                <ion-option value="€">Eruo</ion-option>
            </ion-select>
        </ion-item>

    </ion-list>

    <ion-list *ngIf="settings.Integrator">

        <ion-item-divider color="light">{{ 'SETTINGS_SETTINGS_INTEGRATOR_DIVIDER_TITLE_TEXT' | translate }}
        </ion-item-divider>

        <ion-item nolines>
            <ion-label>{{ 'SETTINGS_SETTINGS_INTEGRATOR_URL_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.Integrator.Url"></ion-input>
        </ion-item>

        <ion-item nolines text-wrap>
            <ion-label>{{ 'SETTINGS_SETTINGS_INTEGRATOR_USER_GROUP_CODE_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.Integrator.UserGroupCode"></ion-input>
        </ion-item>

        <ion-item nolines>
            <ion-label>{{ 'SETTINGS_SETTINGS_INTEGRATOR_DATABASE_NAME_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.Integrator.DatabaseName"></ion-input>
        </ion-item>

        <ion-item nolines text-wrap>
            <ion-label>{{ 'SETTINGS_SETTINGS_INTEGRATOR_DATABASE_USERNAME_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.Integrator.UserName"></ion-input>
        </ion-item>

        <ion-item nolines>
            <ion-label>{{ 'SETTINGS_SETTINGS_INTEGRATOR_DATABASE_PASSWORD_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.Integrator.Password"></ion-input>
        </ion-item>

    </ion-list>

    <ion-list *ngIf="settings.V3Settings">

        <ion-item-divider color="light">{{ 'SETTINGS_SETTINGS_V3_DIVIDER_TITLE_TEXT' | translate }}</ion-item-divider>

        <ion-item text-wrap>
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_OFFICE_CODE_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.V3Settings.OfficeCode"></ion-input>
        </ion-item>

        <ion-item text-wrap>
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_STORE_CODE_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.V3Settings.StoreCode"></ion-input>
        </ion-item>

        <ion-item text-wrap>
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_WAREHOUSE_CODE_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.V3Settings.WarehouseCode"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_SALES_PERSONEL_CODE_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.V3Settings.SalespersonCode"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_POS_TERMINAL_ID_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.V3Settings.POSTerminalID"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_PAYMENT_CASE_CODE_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.V3Settings.PaymentCode"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_CREDIT_LIMIT_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="settings.V3Settings.CreditLimit"></ion-input>
        </ion-item>

        <ion-item nolines>
            <ion-label> {{ 'SETTINGS_SETTINGS_V3_IS_EXCHANGE_LABEL_TEXT' | translate }}</ion-label>
            <ion-toggle enabled checked="false" [(ngModel)]="settings.V3Settings.IsExchange"></ion-toggle>
        </ion-item>

        <!--
        <ion-item nolines>
          <ion-label> {{ 'SETTINGS_SETTINGS_V3_IS_GUARANTOR_LABEL_TEXT' | translate }}</ion-label>
          <ion-toggle enabled checked="false" [(ngModel)]="settings.V3Settings.IsGuarantor"></ion-toggle>
        </ion-item> -->

        <ion-item nolines text-wrap>
            <ion-label> {{ 'SETTINGS_SETTINGS_V3_IS_SUSPENDED_LABEL_TEXT' | translate }}</ion-label>
            <ion-toggle enabled checked="false" [(ngModel)]="settings.V3Settings.IsSuspended"></ion-toggle>
        </ion-item>
        <ion-item nolines text-wrap>
            <ion-label>Ürünlere göre taksit seçeneği</ion-label>
            <ion-toggle enabled checked="false" [(ngModel)]="settings.V3Settings.IsProductPriceByGrCode"></ion-toggle>
        </ion-item>
        <ion-item nolines text-wrap>
            <ion-label>Ürün Fotoğrafları</ion-label>
            <ion-toggle enabled checked="false" [(ngModel)]="settings.V3Settings.IsProductPhotos"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_PAYMENT_TERM_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="settings.V3Settings.PaymentTerm"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_PEICE_GROUP_CODE_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.V3Settings.PriceGroupCode"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_DISCOUNT_TYPE_CODE_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.V3Settings.DiscountTypeCode"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_DISCOUNT_REASON_CODE_LABEL_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="settings.V3Settings.DiscountReasonCode"></ion-input>
        </ion-item>
        <ion-item nolines text-wrap>
            <ion-label> {{ 'SETTINGS_SETTINGS_V3_IS_PERCENTAGE_LABEL_TEXT' | translate }}</ion-label>
            <ion-toggle enabled checked="false" [(ngModel)]="settings.V3Settings.IsPercentage"></ion-toggle>
        </ion-item>

    </ion-list>

    <ion-list radio-group [(ngModel)]="settings.V3Settings.DiscountType" *ngIf="settings.V3Settings">
        <ion-list-header>{{ 'SETTINGS_SETTINGS_V3_DISCOUNT_TYPE_LIST_HEADER_TEXT' | translate }}</ion-list-header>

        <!---->
        <ion-item>
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_DISCOUNT_TYPE_BY_CHANGING_PRODUCT_PRICE_LABEL_TEXT' | translate }}
            </ion-label>
            <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_DISCOUNT_TYPE_BY_APPLYING_DISCOUNT_RATE_LABEL_TEXT' | translate }}
            </ion-label>
            <ion-radio value="2"></ion-radio>
        </ion-item>

    </ion-list>

    <ion-list radio-group [(ngModel)]="settings.V3Settings.SalesType" *ngIf="settings.V3Settings">
        <ion-list-header>{{ 'SETTINGS_SETTINGS_V3_SALES_TYPE_LIST_HEADER_TEXT' | translate }}</ion-list-header>

        <ion-item>
            <!-- Toptan -->
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_SALES_TYPE_WHOLESALE_LABEL_TEXT' | translate }}</ion-label>
            <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item>
            <!-- Perakende -->
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_SALES_TYPE_RETAIL_LABEL_TEXT' | translate }}</ion-label>
            <ion-radio value="2"></ion-radio>
        </ion-item>

        <ion-item>
            <!-- Taksitli -->
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_SALES_TYPE_TALLY_LABEL_TEXT' | translate }}</ion-label>
            <ion-radio value="3"></ion-radio>
        </ion-item>

        <ion-item>
            <!-- İhracat -->
            <ion-label>{{ 'SETTINGS_SETTINGS_V3_SALES_TYPE_EXPORT_LABEL_TEXT' | translate }}</ion-label>
            <ion-radio value="4"></ion-radio>
        </ion-item>

        <ion-item>
            <!-- Peşin Satış (Hemen Teslim) -->
            <ion-label>Peşin Satış (Hemen Teslim)</ion-label>
            <ion-radio value="5"></ion-radio>
        </ion-item>

        <ion-item>
            <!-- İhraPeşin Satış (Askıda) -->
            <ion-label>Peşin Satış (Askıda)</ion-label>
            <ion-radio value="6"></ion-radio>
        </ion-item>

    </ion-list>

    <!-- save as -->
    <ion-item nolines>
        <ion-label> {{ 'SAVE_AS_TEXT' | translate }}</ion-label>
        <ion-toggle enabled checked="false" [(ngModel)]="saveAs"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="saveAs && settings">
        <ion-label>{{ 'LIST_HEADER_TEXT' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="settings.Header"></ion-input>
    </ion-item>
    <!-- save as end -->

</ion-content>
<ion-footer *ngIf="settings">
    <button ion-button class="hm_sign_btn" [disabled]="saveAs && !settings.Header" (click)="saveSettings()">{{
        'SAVE_BUTTON_TEXT' | translate }}
    </button>

    <button ion-button class="hm_btn" (click)="back()">{{
        'SELECT_CANCEL_TEXT' | translate }}
    </button>
</ion-footer>