page-campaign-create {
    ion-label.sector_label.label.label-md {
        margin: 0 !important;
        white-space: normal;
        font-size: 13px;
    }
    .select-searchable-value-item {
        font-size: 11px;
        margin-top: 3.4px;
        color: #777777;
    }
  
}
