<ion-header>
  <ion-navbar>
    <ion-title>{{ 'CAMPAIGN_CAMPAIGN-CREATE_TITLE_TEXT' | translate }}</ion-title>
    <!-- <ion-buttons end class="tool-bar-buttons">
        <button ion-button icon-only (tap)="plusButtonActionSheet()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-stepper #stepper mode='vertical' (selectIndexChange)="selectChange($event)">
    <ion-step label="Ürünler Hazırlanıyor." description="Step1 description">
      <button style="display: none" ion-button small ionicStepperNext id="btnnext">Next</button>
    </ion-step>
    <ion-step label="Müşteriler Değerlendiriliyor." description="Step2 description">
    </ion-step>
    <ion-step label="Mağazalar Değerlendiriliyor." description="Step3 description">
    </ion-step>
    <ion-step label="Yaklaşan Parekende Günleri İnceleniyor." description="Step4 description">
    </ion-step>
    <ion-step label="Önerilen Kampanyaların Listesi Hazırlanıyor." description="Step5 description">
    </ion-step>
  </ion-stepper>
</ion-content>
<ion-footer>
  <button *ngIf="stepperStuation == 0" ion-button (click)="start()" style="width: 100%">Başlat</button>
  <button *ngIf="stepperStuation == 4" ion-button (click)="goToCampaignsPage()" style="width: 100%">Önerilen Kampanyaları Görüntüle</button>
</ion-footer>