<ion-content padding>

  <ng-container *ngIf="checkdatabase == 0">
      <ion-row>
          <ion-col col-12>
            <ion-label>Adı</ion-label>
            <ion-input class="inputtext" type="text" [(ngModel)]="customername"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-label>Soyadı</ion-label>
            <ion-input class="inputtext" type="text" [(ngModel)]="customerlastname"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
              <ion-label>İsim - Soyisim</ion-label>
              <ion-input class="inputtext" type="text" [(ngModel)]="customerfirstlastname"></ion-input>
            </ion-col>
          </ion-row>
  </ng-container>

  <ng-container *ngIf="checkdatabase == 1">      
        <ion-row>
            <ion-col col-12>
              <ion-label>İsim - Soyisim</ion-label>
              <ion-input class="inputtext" type="text" [(ngModel)]="customerfirstlastname"></ion-input>
            </ion-col>
          </ion-row>
  </ng-container>
  
  <ion-row>
    <ion-col col-12>
      <ion-label>Müşteri Kodu</ion-label>
      <ion-input class="inputtext" type="text" [(ngModel)]="customercode"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-label>TC Kimlik Numarası</ion-label>
      <ion-input class="inputtext" type="text" [(ngModel)]="customertc"></ion-input>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
  <ion-col col-12>
      <ion-label>Vergi Numarası</ion-label>
      <ion-input class="inputtext" type="text" [(ngModel)]="customervn"></ion-input>                                  
  </ion-col>
</ion-row>       -->
  <ion-row>
    <ion-col col-12>
      <ion-label>Telefon Numarası</ion-label>
      <ion-input class="inputtext" type="text" [(ngModel)]="customertel"></ion-input>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <button ion-button block color="secondary" (click)="closeModal()">Filtrele</button>
  <button ion-button block color="#30A0BA" (click)="closeModalCancel()">İptal</button>
</ion-footer>