<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div class="navbar-left">{{ 'HOME_TITLE_TEXT' | translate }}</div>
      <div class="navbar-right personname">{{serverService.Settings.V3Settings.SalespersonName}}</div>
    </ion-title>   
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="hm_wrapper">
    <div class="hm_menu_bay">
      <ul>
        <li class="hm_border_left_none" (tap)="goToProductMenuPage()">
          <div class="hm_div_ext hm_div_fullheight">
            <div class="hm_div_int">
              <div class="hm_div_ext">
                <div class="hm_div_int">
                  <img class="products"/>
                  <div class="hm_clear"></div>
                  <p>{{ 'HOME_PRODUCT_TEXT' | translate }}</p>
                </div>
              </div>
              <div class="hm_clear"></div>
            </div>
          </div>
        </li>
        <li class="hm_border_left_none hm_border_right_none" (tap)="goToCustomersPage()">
          <div class="hm_div_ext hm_div_fullheight">
            <div class="hm_div_int">
              <div class="hm_div_ext">
                <div class="hm_div_int">
                  <img class="customers"/>
                  <div class="hm_clear"></div>
                  <p>{{ 'HOME_CUSTOMER_TEXT' | translate }}</p>
                </div>
              </div>
              <div class="hm_clear"></div>
            </div>
          </div>
        </li>
        <li class="hm_border_left_none" (tap)="goToProposalPage()">
          <div class="hm_div_ext hm_div_fullheight">
            <div class="hm_div_int">
              <div class="hm_div_ext">
                <div class="hm_div_int">
                  <img class="order"/>
                  <div class="hm_clear"></div>
                  <p>{{ 'HOME_ORDER_TEXT' | translate }}</p>
                </div>
              </div>
              <div class="hm_clear"></div>
            </div>
          </div>
        </li>
        <li class="hm_border_left_none hm_border_right_none" (tap)="goToReportsPage()">
          <div class="hm_div_ext hm_div_fullheight">
            <div class="hm_div_int">
              <div class="hm_div_ext">
                <div class="hm_div_int">
                  <img class="reports"/> 
                  <div class="hm_clear"></div>
                  <p>{{ 'HOME_REPORTS_TEXT' | translate }}</p>
                </div>
              </div>
              <div class="hm_clear"></div>
            </div>
          </div>
        </li>
        <li class="hm_border_left_none hm_border_bottom_none" (tap)="goToCampaignMainPage()">
          <div class="hm_div_ext hm_div_fullheight">
            <div class="hm_div_int">
              <div class="hm_div_ext">
                <div class="hm_div_int">
                  <img class="campaigns"/>
                  <div class="hm_clear"></div>
                  <p>{{ 'HOME_CAMPAIGN_TEXT' | translate }}</p>
                </div>
              </div>
              <div class="hm_clear"></div>
            </div>
          </div>
        </li>
        <li class="hm_border_left_none hm_border_right_none hm_border_bottom_none" (tap)="presentAlert()">
          <div class="hm_div_ext hm_div_fullheight">
            <div class="hm_div_int">
              <div class="hm_div_ext">
                <div class="hm_div_int">
                  <img class="delivery"/> 
                  <div class="hm_clear"></div>
                  <p>{{ 'HOME_DISTRIBUTION_TEXT' | translate }}</p>
                </div>
              </div>
              <div class="hm_clear"></div>
            </div>
          </div>
        </li>
        <div class="hm_clear"></div>
      </ul>
    </div>
  </div>
</ion-content>










