page-home {
  .scroll-content {
    overflow: hidden !important;
    background-color: #fff !important;
  }
  .personname .toolbar-title.toolbar-title-md{
    font-size: 13px !important; 
    font-weight: 300;
  }
  .navbar-left {
    float: left;
    text-align: left;
  }
  .navbar-right{
    float: right;
    text-align: right;
  }
  .toolbar-ios ion-title{
    padding: 0px 20px 0px 49px !important; 
  }
  .toolbar-title.toolbar-title-ios{
    width: 100%;
  }
}
