<ion-header>
    <ion-navbar>
      <ion-title>Ürün Envanter Raporu</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content style="background-color: #F0F0F0">    
      <ion-list>
          <ion-item no-lines>
              <ion-row >             
                  <ion-col>
                      <p class="toptext">Mağza</p>
                  </ion-col>
                  <ion-col>
                      <p class="toptext2">Envanter</p>
                  </ion-col>
                  <ion-col>
                      <p class="toptext2">Beden - Renk</p>
                  </ion-col>
              </ion-row>
          </ion-item>
  
          <ng-container *ngFor="let item of ProductWarehouse; let i = index;">
            <ion-item *ngIf="item.Inventory >= 0 && item.WarehouseCode.charAt(0) != 'P'" [ngStyle]="{'background-color': i % 2 == 0 ? '#def0fd' : '#ffffff'}" no-lines>
                <ion-row>            
                    <ion-col>
                        <h4 style="font-weight: bold;">{{item.WarehouseDescription}}</h4>
                    </ion-col>
                    <ion-col>
                        <p class="clr2_font beden-position1"> {{item.Inventory}}</p>
                    </ion-col>
                    <ion-col>
                        <h3 class="clr3_font beden-position">{{item.ItemDim1Code}} - {{serverService.getColorDescription(item.ColorCode)}}</h3>
                    </ion-col>
                </ion-row>
                </ion-item>
          </ng-container>         
      </ion-list>
  </ion-content>
  