page-produc-inventory-report {
    .toptext{
        font-size: 15px;
        color: #002D61;
    }

    .toptext2{
        font-size: 15px;
        color: #002D61;
        font-weight: bold;
    }


    page-produc-inventory-report .toptext {
        font-size: 15px;
        color: #002D61;
        font-weight: bold;
    }

    .list-md {
        margin: 0px; 
    }  
}
