<ion-header>
  <ion-navbar>
    <ion-title>{{text}}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list radio-group style="padding: 5px;" [(ngModel)]="changesaletype">
    <ion-item *ngIf="SaleTypeLicense0">
      <ion-label>Toptan Satış</ion-label>
      <ion-radio (click)="goToProposalPage()" value="1"></ion-radio>
    </ion-item>  
    <ion-item *ngIf="SaleTypeLicense1">
      <ion-label>Perakende Satış</ion-label>
      <ion-radio (click)="goToProposalPage()" value="2"></ion-radio>
    </ion-item>
    <ion-item *ngIf="SaleTypeLicense2">
      <ion-label>Taksitli Satış</ion-label>
      <ion-radio (click)="goToProposalPage()" value="3"></ion-radio>
    </ion-item>
    <ion-item *ngIf="SaleTypeLicense3">      
        <ion-label>İhracat Satış</ion-label>
        <ion-radio (click)="goToProposalPage()" value="4"></ion-radio>
      </ion-item>
    <ion-item *ngIf="SaleTypeLicense4">      
      <ion-label>Peşin Satış (Hemen Teslim)</ion-label>
      <ion-radio (click)="goToProposalPage()" value="5"></ion-radio>
    </ion-item>
    <ion-item *ngIf="SaleTypeLicense5">
      <ion-label>Peşin Satış (Sonra Teslim)</ion-label>
      <ion-radio (click)="goToProposalPage()" value="6"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-footer style="padding: 10px">
  <button style="border-radius: 5px !important;" (click)="goToProposalPage()" ion-button block
    color="#30A0BA">Devam</button>
</ion-footer> -->