<!--
  Generated template for the DistributionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'DISTRIBUTION_TITTLE_TEXT' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h1>YAKINDA</h1>
</ion-content>
