<ion-header>

  <ion-navbar>
    <ion-title>Barcode Test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-item>
  <ion-label (tap)="scan()">Scan</ion-label>
</ion-item>
  <ion-item>
    <ion-label>{{barcode}}</ion-label>
  </ion-item>
</ion-content>
