page-proposal {
  
 

  input.text-input.text-input-md {
    opacity: 1;
    text-align: -webkit-right;
    font-size: 15px;
  }

  .item-ios [item-right], .item-ios [item-end] {
    margin: 0px;
  }

  .text-input-md {
    margin: 0;
    padding: 0;
    width: calc(100% - 8px - 8px);
}

.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input {
  margin-left: 0px;
  width: calc(100% - (16px / 2) - 16px);
}

.select-text {
  font-size: 15px;
}
 
  .btncolor {
    border-color: #002D61;
    color: #002D61;
  }
  .proposal-list {
    height: 260px !important;
    margin: 0px 5px!important;
    .scroll-content {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .list {
      margin: 2px!important;
      .item {
        padding: 0px 0px 0px 5px!important;
        .item-inner{
          padding: 0px 0px 0px 5px!important;
          p.price {
            position: absolute;
            top: 15px;
            right: 0;
          }
          p.price2 {
            position: absolute;
            top: 35px;
            right: 0;
            font-weight: bold;
          }
          p.price3 {
            position: absolute;
            top: 55px;
            right: 0;
            font-weight: bold;
          }
          p.quantity{
            position: absolute;
            bottom: 0;
            right: 0;
          }
          p .icon {
            font-size: 26px;
            font-weight: bold;
            padding: 0px 10px;
          }
          p .icon:first-child{
            color: green;
          }
          p .icon:nth-child(2){
            color: red;
          }
        }
        img {
          margin: 9px;
          object-fit: cover;
          width: 45px;
          height: 65px;
        }
      }
    }
  }
  


  ion-item-divider {
    background-color: lavender!important;
    min-height: 5px!important;
    max-height: 5px!important;
  }
}
