<ion-header>
    <ion-navbar>
        <ion-buttons class="ios-header-margin" end>
            <button ion-button icon-only *ngIf="serverService.Items.length>0" (tap)="clearItems()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons class="ios-header-margin" end>
            <button ion-button icon-only (tap)="selectProduct()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons class="ios-header-margin" end>
            <button ion-button icon-only (tap)="scanBarcode()">
                <ion-icon name="barcode"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons class="ios-header-margin" end>
            <button ion-button icon-only (tap)="presentOrderActionSheet()">
                <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-buttons>
        <!-- 8698536471016,
         8680434460124 : Era Rose
         12H647601726 : ItemCode
         12H647603703

         barcode : 86935241
         LOT : L0000000000013
         -->
        <ion-title (tap)="addProduct('L0000000000013')">{{ 'PROPOSAL_TITLE_TEXT' | translate }}</ion-title>
    </ion-navbar>
    <ion-row style="margin-left: 10px; margin-right: 10px;" *ngIf="checkbutton">
        <!-- <button *ngIf="!orderTypeName" (click)="goToProposalTypePage()" class="btncolor" ion-button block outline
            style="font-size: 18px; margin-top: 8px; border-radius: 8px !important">
            Sipariş Tipi
        </button> -->
        <button *ngIf="orderTypeName" (click)="goToProposalTypePage()" class="btncolor" ion-button block outline
            style="font-size: 18px; margin-top: 8px; border-radius: 8px !important">
            {{orderTypeName}}
        </button>
    </ion-row>

    <ion-row style="margin-left: 10px; margin-right: 10px;">
        <button [disabled]="!orderTypeName" *ngIf="!customer" (click)="setCustomerOperations()" class="btncolor"
            ion-button block outline style="font-size: 18px; margin-top: 8px; border-radius: 8px !important">
            {{'PROPOSAL_BUTTON_SELECT_CUSTOMER_TEXT' | translate }}
        </button>
        <button *ngIf="customer" (click)="setCustomerOperations()" class="btncolor" ion-button block outline
            style="font-size: 18px; margin-top: 8px; border-radius: 8px !important">
            {{CustomerNameRececipt}} <span *ngIf="serverService.Settings.Integrator.DatabaseName == 'YALISPOR_V3'">
                {{customerMoneyPoint}}</span>
        </button>
    </ion-row>
</ion-header>

<ion-content #container>

    <div class="proposal-list" *ngIf="serverService.Items.length>0">
        <!-- <ion-scroll scrollY="true" class="proposal-list" *ngIf="serverService.Items.length>0"> -->
        <ion-list>
            <ion-item-sliding #slidingItem *ngFor="let product of serverService.Items; let i = index">
                <ion-item>
                    <img [defaultImage]="'assets/imgs/imageLoader.svg'"
                        [lazyLoad]="serverService.Settings.G3Settings.ImageUrl + '/Home/GetThumb?itemcode='+ product.ItemCode"
                        [scrollObservable]="container.ionScroll"
                        *ngIf="product.ItemCode && serverService.Settings.V3Settings.IsProductPhotos" item-left />
                    <h4><b>Ürün Kodu</b>: {{product.ItemCode}}</h4>
                    <h4
                        *ngIf="this.serverService.Settings.V3Settings.SalesType == 5 && product.UseSerialNumber == true">
                        <b>Seri No</b>: {{product.seriNumber}}</h4>
                    <h4><b>Ürün İsmi</b>: {{product.ItemDescription}}</h4>
                    <h4 *ngIf="product.MaxQty"><b>Merkez Depoda</b>: {{product.MaxQty}} Adet</h4>
                    <h4 *ngIf="product.MesureCode == 'AD'"><b>Eklenilen</b>: {{product.Qty1}}
                        {{ 'PROPOSAL_PROPOSAL_LIST_QUANTITY_TEXT' | translate }}</h4>
                    <p *ngIf="product.MesureCode != 'AD'">{{product.Qty1}} Adet</p>
                    <p *ngIf="serverService.getColorDescription(product.ColorCode)">
                        [{{serverService.getColorDescription(product.ColorCode)}}]</p>
                    <p *ngIf="product.ItemDim1Code">[{{product.ItemDim1Code}}]</p>

                    <h3 [ngStyle]="orderData.TDisRate1>0 ? {'text-decoration':'line-through'} : {'text-decoration':'none'}"
                        style="color: red;" *ngIf="product.LDisRate1>0">
                        {{ 'PROPOSAL_PROPOSAL_LIST_DISCOUNT_RATE_TEXT' | translate }} :
                        [%{{product.LDisRate1 | number}}] -{{product.LDisRate1*product.Price/100 | number}}
                        {{getPriceGroup(currentPlanCode)}}
                        </h3>

                    <h3 style="color: red;" *ngIf="orderData.TDisRate1>0">
                        {{ 'PROPOSAL_PROPOSAL_LIST_DISCOUNT_RATE_TEXT' | translate }} :
                        [%{{product.LDisRate1 | number}} + %{{orderData.TDisRate1 | number}}]
                        -{{((product.LDisRate1*product.Price/100) + (product.Price  - (product.LDisRate1*product.Price/100)) * orderData.TDisRate1 / 100) | number}}
                        {{getPriceGroup(currentPlanCode)}}
                        </h3>

                    <p *ngIf="product.Price == 1" class="price"><strong>Ödeme Planı Giriniz</strong> </p>
                    <p [ngStyle]="product.LDisRate1>0 ? {'text-decoration':'line-through'} : {'text-decoration':'none'}"
                        *ngIf="product.Price != 1" class="price"><strong>{{product.Price}} <span
                                *ngIf="serverService.Items.length > 0">{{getPriceGroup(currentPlanCode)}}</span>
                            </strong>
                    </p>

                    <p [ngStyle]="orderData.TDisRate1>0 ? {'text-decoration':'line-through'} : {'text-decoration':'none'}"
                        style="color: red;" class="price2" *ngIf="product.LDisRate1>0">
                        {{product.Price - product.LDisRate1*product.Price/100 | number}}
                        {{getPriceGroup(currentPlanCode)}}</p>

                    <p style="color: red;" class="price3" *ngIf="orderData.TDisRate1>0">
                        {{(product.Price - product.LDisRate1*product.Price/100) - ((product.Price  - (product.LDisRate1*product.Price/100)) * orderData.TDisRate1 / 100) | number}}
                        {{getPriceGroup(currentPlanCode)}}</p>

                    <p *ngIf="product.MesureCode == 'AD'" class="quantity">
                        <!-- *ngIf="product.MesureCode == 'AD'" -->
                        <ion-icon name="add" (tap)="increasedecreaseNumber(i, 1)"></ion-icon>
                        <ion-icon name="remove" (tap)="increasedecreaseNumber(i, 2)"></ion-icon>
                    </p>
                    <p *ngIf="product.MesureCode != 'AD'" class="quantity">
                        <!-- *ngIf="product.MesureCode == 'AD'" -->
                        <ion-icon name="create" (tap)="setQuantity(i)"></ion-icon>
                    </p>



                </ion-item>
                <ion-item-options side="right">
                    <!--*ngIf="checkdatabase == 1" -->
                    <button ion-button color="softblue" style="width: 70px;"
                        (click)="showPromptEditProduct(i,product, slidingItem)">
                        <ion-icon name="open"></ion-icon>
                        Fiyat
                    </button>
                    <button ion-button style="width: 70px; white-space: initial; background-color: #1262da"
                        (click)="showPromptPaymentPlan(product, slidingItem)" *ngIf="stringDataType == '3'">
                        <ion-icon name="ios-alert-outline"></ion-icon>
                        Ödeme Planı
                    </button>
                    <button ion-button style="width: 70px; white-space: initial; background-color: #1262da"
                        (click)="showPromptSerialNumber(product, slidingItem)"
                        *ngIf="stringDataType == '5' && product.UseSerialNumber == true">
                        <ion-icon name="ios-alert-outline"></ion-icon>
                        Seri No.
                    </button>
                    <button ion-button style="width: 70px; white-space: initial; background-color: #16e155"
                        (click)="showPromtBarcodeQty(product, slidingItem)">
                        <ion-icon name="ios-alert-outline"></ion-icon>
                        Adet
                    </button>
                    <button ion-button color="softgray" style="width: 70px;" (click)="removeProduct(i)">
                        <ion-icon name="trash"></ion-icon>
                        {{ 'ITEM_SLIDING_BUTTON_DELETE_TEXT' | translate }}
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-item-divider *ngIf="serverService.Items.length>0"></ion-item-divider>

        <ion-item *ngIf="serverService.Settings.V3Settings.SalesType == 3">
            <ion-label style="color: #002D61; font-weight: bold; font-size: 15px;">
                {{ 'PROPOSAL_ADVANCE_PAYMENT_TEXT' | translate }} :</ion-label>
            <ion-input type="number" pattern="[0-9]*" onblur="this.placeholder = '0'"
                [brmasker]="{mask:'00000000000000000000', len:20}" (oninput)="calculateRemain(paid)" [(ngModel)]="paid"
                width="50%">
            </ion-input>
            <h2 item-end *ngIf="paid>0"><span
                    style="color: #002D61; font-weight: bold; font-size: 15px;">{{ 'PROPOSAL_REMAINING_TEXT' | translate }}
                </span>: {{remain}} </h2>
        </ion-item>

        <!-- (keydown)="maxLength($event, 'IdentityNum', 11)" -->
        <!-- ASKIDA ÜRÜN -->
        <!-- <ion-item *ngIf="serverService.Settings.V3Settings.IsSuspended">
            <ion-label>{{ 'PROPOSAL_IS_SUSPENDED_LABEL_TEXT' | translate }}</ion-label>
            <ion-toggle checked="false" [(ngModel)]="orderData.IsSuspended"></ion-toggle>
        </ion-item> -->

        <ion-item *ngIf="serverService.Settings.V3Settings.SalesType != 3">
            <ion-label style="color: #002D61; font-weight: bold; font-size: 15px;">Ödeme Planı</ion-label>
            <ion-select [(ngModel)]="currentPlanCode" multiple="false" (ngModelChange)="onPlanChanged($event)"
                okText="{{ 'SELECT_OK_TEXT' | translate }}" cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}">
                <ion-option *ngIf="serverService.Settings.V3Settings.SalesType!=3" value=""> <!-- && checkdatabase == 0-->
                    {{ 'PROPOSAL_ADVANCE_TEXT' | translate }}</ion-option>
                <ion-option *ngFor="let plan of plans" value="{{plan.PaymentPlanCode}}">
                    {{plan.PaymentPlanDescription}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="checkdatabase == 1">
            <ion-label style="color: #002D61; font-weight: bold; font-size: 15px;">Sipariş Vergi Tipi</ion-label>
            <ion-select [(ngModel)]="place" multiple="false" (ionChange)="optionsFn()">
                <ion-option *ngFor="let item of taxPlans" value="{{item.val}}">
                    {{item.name}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label style="color: #002D61; font-weight: bold; font-size: 15px;">
                {{ 'PROPOSAL_TOTAL_TEXT' | translate }} : {{getTotal()}} {{getPriceGroup(currentPlanCode)}}
                
            </ion-label>
            <h2 style="color: #002D61; font-weight: bold; font-size: 15px;" item-end *ngIf="orderData.TDisRate1 > 0">
                Dip İskonto : [%{{this.orderData.TDisRate1}}]</h2>
            <h2 style="color: #002D61; font-weight: bold; font-size: 15px;" item-end
                *ngIf="serverService.Settings.V3Settings.SalesType == 3 && monthly==0">Taksit
                Tutarı : {{monthly}}</h2>
            <h2 style="color: #002D61; font-weight: bold; font-size: 15px;" item-end
                *ngIf="serverService.Settings.V3Settings.SalesType == 3 && monthly>0">Taksit Tutarı : {{monthly}}
                </h2>
        </ion-item>
        <ion-item class="txtStyle" *ngIf="checkdatabase == 1">
            <ion-label style="color: #002D61; font-weight: bold; font-size: 15px;">Açıklama :</ion-label>
            <ion-input item-end type="text" [(ngModel)]="infoText"></ion-input>
        </ion-item>
        <ion-item class="txtStyle" *ngIf="checkdatabase == 0">
            <ion-label style="color: #002D61; font-weight: bold; font-size: 15px;">Açıklama :</ion-label>
            <ion-input item-end type="text" [(ngModel)]="infoText" maxlength="40"></ion-input>
        </ion-item>
        <ion-row style="margin-left: 10px; margin-right: 10px;">
            <button [disabled]="!customer||(serverService.Items.length==0)" (click)="makeOrder()" class="btncolor"
                ion-button block outline style="font-size: 18px; margin-top: 8px; border-radius: 8px !important;">
                {{ 'PROPOSAL_BUTTON_CREATE_ORDER_TEXT' | translate }}
            </button>
        </ion-row>
    </ion-toolbar>
</ion-footer>