<ion-header>
  <ion-navbar>
      <ion-title>Müşteri Listesi Ekle</ion-title>
      <ion-buttons start>
          <button ion-button icon-only (click)="closeModal()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
