<ion-header>
    <ion-navbar>                    
        <ion-buttons start>
            <button ion-button icon-only (click)="closeModalCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>                 
    <ion-row>
        <ion-col col-12>
            <ion-label>Müşteri Adı Giriniz</ion-label>
            <ion-input class="inputtext" type="text" [(ngModel)]="customerName"></ion-input>                      
        </ion-col>
    </ion-row>
    <ion-row>
            <ion-col col-12>
                <ion-label>Sipariş Numarası Giriniz</ion-label>
                <ion-input class="inputtext" type="text" [(ngModel)]="orderNumber"></ion-input>                                  
            </ion-col>
        </ion-row>
    <ion-row>
        <ion-col col-6>
            <ion-label>Tarih Aralığı Giriniz</ion-label>
            <ion-datetime class="datetime" min="2000" placeholder="Başlangıç" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="startDate"></ion-datetime>
        </ion-col>        
        <ion-col col-6>
            <ion-datetime class="datetime2" min="2000" placeholder="Bitiş" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="endDate"></ion-datetime>
        </ion-col>
    </ion-row>              
</ion-content>

<ion-footer>
    <button ion-button block color="secondary" (click)="closeModal()">Filtrele</button>
    <button ion-button block color="#30A0BA" (click)="closeModalCancel()">İptal</button>
</ion-footer>
    
