page-select-product {

  ::-webkit-scrollbar,
    *::-webkit-scrollbar {
    display: none;
    }

  input.text-input.text-input-md {
    opacity: .4;
    text-align: center;
    font-size: 20px !important;    
}
.text-input-md {
  margin: 9px 8px;
  padding: 0;
  width: calc(100% - 8px - 8px);
}

.text-input-ios {
  padding-left: 10px;
  text-align: center;
}

ion-input, ion-textarea {
  position: relative;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}

ion-icon {
  font-size: 30px; //Preferred size here
}

  .select-product-list {
    margin: 5px 0 !important;
  }

  .input-label {
    color: #000 !important;
  } 

  .transparent-select {
    background-color: transparent !important;
    border-radius: 2.5rem;
    border: 2px solid darkgrey;
    text-align: left !important;
    margin: 10px 0 10px 15px !important;
    padding: 5px 5px 2px 15px !important;
    max-width: 80%;
    height: 35px;
  }

  .colors-select {
    background-color: transparent !important;
    margin: 0px !important;
    padding: 0px 0px 0px 5px !important;
    .item-inner {
      border-bottom: none !important;
      box-shadow: none !important;
      margin: 0px !important;
      padding: 0px !important;
    }
    .select-icon {
      margin-right: 8px !important;
    }
  }

  .product {
    img {
      width: 40%;
      margin: 5px;
      float: left;
    }
    .detail {
      width: 55%;
      min-height: 200px;
      float: left;
      h5 {
        font-size: 20px;
        min-height: 50px;
      }
    }
    .price {
      font-size: 15px;
      font-weight: 900;
      margin: 5px 0px;
    }
    .colors {
      min-width: 95%;
      padding: 5px;
      margin-top: 5px;
      border-radius: 20px;
    }
    .colors:focus {
      outline: none;
    }
    .sizes {
      padding: 0px 5px;
      flex-wrap: wrap;
      .col {
        background-color: #faae3f;
        color: #fff;
        border-radius: 20px;
        margin: 5px;
        text-align: center;
        max-width: 22%;
      }
      .disabled {
        opacity: 0.4;
      }
      .selected {
        opacity: 0.9;
        background-color: violet;
      }
    }

    .inverntory {
      padding: 0px 5px;
      flex-wrap: wrap;
      .col {
        background-color: #79fa6e;
        color: #fff;
        border-radius: 20px;
        margin: 5px;
        text-align: center;
        max-width: 22%;
      }
      .minus {
        opacity: 0.4;
        background-color: #fa7377 !important;
      }
    }

    .quantities {
      padding: 0px 5px;
      flex-wrap: wrap;
      .col {
        color: #000;
        background-color: transparent;
        margin: 5px;
        text-align: center;
        max-width: 22%;
        input {
          width: 100%;
          text-align: center;
        }
      }
      .disabled {
        opacity: 0.4;
      }
      .selected {
        opacity: 0.9;
        background-color: violet;
      }
    }
  }
}
