<ion-header>
    <ion-navbar>
        <ion-title>{{ 'SELECT-PRODUCT_TITLE_TEXT' | translate }}</ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="selectProduct(null)">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
            <button ion-button icon-only (click)="filterModal()" *ngIf="!product">
                <ion-icon name="search"></ion-icon>
            </button>
            <!-- <button ion-button icon-only (click)="refreshFilter()" *ngIf="!product">
                <ion-icon name="refresh"></ion-icon>    
            </button>  -->
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content #container padding class="hm_sign_bg">


    <ion-list class="select-product-list" *ngIf="items.length>0&&!product">
        <button ion-item *ngFor="let product of items" (click)="selectProduct(product)">
            <h4 class="clr2">{{product.ItemDescription}}</h4>
            <p class="clr3">{{ 'SELECT-PRODUCT_PRODUCT_CODE_TEXT' | translate }} {{product.ItemCode}}</p>
        </button>
    </ion-list>

    <div class="product" *ngIf="product">
        <img [defaultImage]="'assets/imgs/imageLoader.svg'" [scrollObservable]="container.ionScroll"
            [lazyLoad]="imageURL + '&colorcode=' + color" (tap)="showImage()"
            *ngIf="color && serverService.Settings.V3Settings.IsProductPhotos" />
        <img [defaultImage]="'assets/imgs/imageLoader.svg'" [scrollObservable]="container.ionScroll"
            [lazyLoad]="imageURL" (tap)="showImage()"
            *ngIf="!color && serverService.Settings.V3Settings.IsProductPhotos" />
        <div class="detail">
            <h4>{{product.ItemDescription}}</h4>

            <!-- <p class="price">{{productDetails?.RetailSalePrice}} ₺ {{serverService.Settings.G3Settings.Currency}}</p> -->

            <ion-item *ngIf="productSelectedQuantityMatrix.length>0 && sizes" class="colors-select">
                <ion-label class="input-label" stacked>Renkler</ion-label>
                <ion-select class="transparent-select" [(ngModel)]="color" (ngModelChange)="setSizes()"
                    okText="{{ 'SELECT_OK_TEXT' | translate }}" cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}">
                    <ion-option *ngFor="let color of productColorSizeMatrix" [value]="color['R/B']">
                        {{serverService.getColorDescription(color['R/B'])}}
                        <!-- {{color['R/B']}} -->
                    </ion-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="productColors.length>0" class="colors-select">
                <ion-label class="input-label" stacked>Renkler</ion-label>
                <ion-select class="transparent-select" [(ngModel)]="color" okText="{{ 'SELECT_OK_TEXT' | translate }}"
                    cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}">
                    <ion-option *ngFor="let color of productColors" [value]="color.ColorCode">
                        {{serverService.getColorDescription(color.ColorCode)}}
                        <!-- {{color['R/B']}} -->
                    </ion-option>
                </ion-select>
            </ion-item>

            <div *ngIf="!sizes">
                <ion-label style="font-weight: bold">Ürün Adet Giriniz</ion-label>
                <ion-row>
                    <ion-col col-2 style="padding-top: 10px;">
                        <ion-icon name="add" color="secondary" (tap)="increase()"></ion-icon>
                    </ion-col>
                    <ion-col col-4>
                        <div
                            style="border: 1px solid #808080; border-radius: 8px !important; height: 45px; width: 60px;">
                            <ion-input type="number" placeholder="1" [(ngModel)]="selectedQuantityP"></ion-input>
                        </div>
                    </ion-col>
                    <ion-col col-6 style="padding-top: 10px; padding-left: 18px;">
                        <ion-icon name="remove" color="danger" (tap)="decrease()"></ion-icon>
                    </ion-col>
                </ion-row>
            </div>

        </div>

        <div class="hm_clear"></div>        

            <ng-container *ngIf="checkdatabase == 1">
                <ion-row class="sizes" *ngIf="productSelectedQuantityMatrix2 && sizes">
                    <ion-col *ngFor="let item of productSelectedQuantityMatrix2" [ngClass]="(item.MaxQuantity>0)?'':'disabled'">
                        {{item.Size}}
                    </ion-col>
                </ion-row>
    
                <ion-row class="quantities" *ngIf="productSelectedQuantityMatrix2 && sizes">
                    <ion-col *ngFor="let item of productSelectedQuantityMatrix2">
                        <input [type]="(item.MaxQuantity>0) ? 'number' : 'number'" (input)="alertQuantity(item)"
                            [(ngModel)]="item.SelectedQuantity" min="0" step="any" autocomplete="off">
                    </ion-col>            
                    <!-- hidden -->
                    <!-- (keydown)="serverService.isValidIntegerNumber($event, 'quantity' + i)" -->
                </ion-row>   
                <ion-row class="quantities" *ngIf="productSelectedQuantityMatrix2 && sizes">
                    <ion-col *ngFor="let item of productSelectedQuantityMatrix2">
                            Adet {{item.MaxQuantity}}
                    </ion-col>
                </ion-row>        
            </ng-container>

            <ng-container *ngIf="checkdatabase != 1">
                <ion-row class="sizes" *ngIf="productSelectedQuantityMatrix && sizes">
                    <ion-col *ngFor="let item of productSelectedQuantityMatrix" [ngClass]="(item.MaxQuantity>0)?'':'disabled'">
                        {{item.Size}}
                    </ion-col>
                </ion-row>
    
                <ion-row class="quantities" *ngIf="productSelectedQuantityMatrix && sizes">
                    <ion-col *ngFor="let item of productSelectedQuantityMatrix">
                        <input [type]="(item.MaxQuantity>0) ? 'number' : 'number'" (input)="alertQuantity(item)"
                            [(ngModel)]="item.SelectedQuantity" min="0" step="any" autocomplete="off">
                    </ion-col>            
                    <!-- hidden -->
                    <!-- (keydown)="serverService.isValidIntegerNumber($event, 'quantity' + i)" -->
                </ion-row>   
            </ng-container>                            
              
        <!--ADET GÖSTERGESİ ÖZŞANALDAN DOLAYI KALDIRILDI-->

        <!-- <ion-row class="inverntory" *ngIf="productSelectedQuantityMatrix && sizes">
            <ion-col *ngFor="let item of productSelectedQuantityMatrix" [ngClass]="(item.MaxQuantity>0)?'':'minus'">
                {{item.MaxQuantity}}
            </ion-col>
        </ion-row> -->      

    </div>

    <button ion-button *ngIf="product" (tap)="addToBasket()" class="hm_btn_add_to_proposal">{{
        'PRODUCT_ADD_TO_ORDER_LIST_BUTTON_TEXT' | translate }}
    </button>
</ion-content>