<ion-header>
  <ion-navbar>
    <ion-title>{{  'SELECT-CUSTOMER_TITLE_TEXT' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="selectCustomer(null)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
      <button ion-button icon-only (click)="filterModal()">
          <ion-icon name="search"></ion-icon>
        </button>
        <!-- <button ion-button icon-only (click)="refreshFilter()">
            <ion-icon name="refresh"></ion-icon>    
        </button>  -->
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="addCustomer()">
        <ion-icon name="add"></ion-icon>
      </button>      
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="dataList.length > 0">
  <ion-list>
    <button ion-item *ngFor="let customer of dataList" (click)="selectCustomer(customer)">

        <ng-container *ngIf="checkdatabase == 0">
          <h4 [style.color]="customer.DebtStatusTypeCode == 1 ||  customer.DebtStatusTypeCode == 3 || customer.DebtStatusTypeCode == 4 ? '#FF0000' :'#000000'">{{customer.FirstName}} {{customer.LastName}}</h4>
          <h3 [style.color]="customer.DebtStatusTypeCode == 1 ||  customer.DebtStatusTypeCode == 3 || customer.DebtStatusTypeCode == 4 ? '#FF0000' :'#000000'"item-end>{{customer.CurrAccCode}}</h3>
          <p [style.color]="customer.DebtStatusTypeCode == 1 ||  customer.DebtStatusTypeCode == 3 || customer.DebtStatusTypeCode == 4 ? '#FF0000' :'#000000'">{{customer.IdentityNum}}</p> 
          <p [style.color]="customer.DebtStatusTypeCode == 1 ||  customer.DebtStatusTypeCode == 3 || customer.DebtStatusTypeCode == 4 ? '#FF0000' :'#000000'">{{customer.Mobile}}</p>         
        </ng-container>

        <ng-container *ngIf="checkdatabase == 1">
            <h4>{{customer.CustomerName}}</h4>
            <h3 item-end>{{customer.CurrAccCode}}</h3>
            <p>{{customer.IdentityNum}}</p> 
            <p>{{customer.Mobile}}</p>         
        </ng-container>
      </button>
  </ion-list>
  </ng-container>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Yükleniyor...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
