<ion-content class="hm_sign_bg">
    <div class="hm_wrapper">

        <div class="hm_signin_inner_wrapper">

            <div class="hm_logo">
                <img src="./assets/image/giltas_innovative_logo.png" height="45" width="160" (tap)="autoLogin()">
                <h5>GM</h5>
                <h6></h6>
                <span><img src="assets/image/hm_vector_underline.png"></span>
            </div>
            <br>
            <br>
            <form [formGroup]="login">
                <div class="hm_sign_detail" text-center>
                    <div class="hm_mobile_number_div">
                        <input class="hm_sign_number_input"
                               placeholder="{{ 'LOGIN_USERNAME_PLACEHOLDER_TEXT' | translate }}"
                               formControlName="username">
                        <div class="hm_clear"></div>
                    </div>
                    <div class="hm_mobile_number_div">
                        <input type="password" class="hm_sign_number_input"
                               placeholder="{{ 'LOGIN_PASSWORD_PLACEHOLDER_TEXT' | translate }}"
                               formControlName="password"
                               autocomplete="off">
                        <div class="hm_clear"></div>
                    </div>
                    <button class="hm_sign_btn" (click)="Login()" [style.opacity]="(!login.valid)?'0.5':'1'">{{
                        'LOGIN_LOGIN_BUTTON_TEXT' | translate }}
                    </button>
                    <h6>{{ 'LOGIN_SYSTEM_INTEGRATOR_TEXT' | translate }} © 2019</h6>
                    <p>GM v{{serverService?.VERSION}}</p>
                </div>
            </form>
        </div>
    </div>
    <!-- <ion-fab class="right-bottom">
        <button ion-fab mini (tap)="goToSettingPage()">
            <ion-icon name="settings"></ion-icon>
        </button>
    </ion-fab> -->
</ion-content>
