page-campaign-suggests {
    .hm_campaign_number{
        width: 70px;
        height: 70px; 
        float: left;
        position: relative;
        text-align: center;
        top: 16px;
    }
    .hm_campaign_detail{
        
    }
}
