<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CAMPAIGN_SUGGESTS_TITTLE_TEXT' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="hm_sign_bg">
  <div class="hm_message_div">
    <ul>
      <li (click)="goTo(campaign)" *ngFor="let campaign of campaigns">
        <div class="hm_campaign_number">
          <img style="width:60%; height:60%" class="reports" />
        </div>
        <div style="margin-top: 16px;" class="hm_campaign_detail">
          <h4>{{campaign.DiscountOfferApplyDescription}}</h4>
          <p style="margin:0;">{{serverService.convertDate(campaign.StartDate)}} - {{serverService.convertDate(campaign.EndDate)}}</p>
        </div>
        <div class="hm_clear"></div>
      </li>
    </ul>
  </div>
</ion-content>