<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'CAMPAIGNS_TITLE_TEXT' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="hm_sign_bg">
  <div class="hm_message_div">
    <ul>
      <li *ngFor="let campaign of campaigns">
       <!-- <div class="hm_message_pic">
          <div class="hm_message_not"></div>
        </div> -->
        <div class="hm_message_detail">
         <h4>{{campaign.CustomerType}}</h4>
          <p>{{campaign.ProcessDescription}}</p>
          <p>{{campaign.DiscountOfferTypeDescription}}</p>
        </div>
         <div class="hm_message_date">
           <p><strong>{{ 'CAMPAIGNS_CAMPAIGN_DATE_TEXT' | translate }}</strong></p>
           <p>{{serverService.convertDate(campaign.StartDate)}}</p>
           <p>{{serverService.convertDate(campaign.EndDate)}}</p>
         <!-- <img class="forward_arrow"/> -->
        </div>
        <div class="hm_clear"></div>
      </li>
    </ul>
  </div>
</ion-content>
