page-product {
  .scroll-content {
    background-color: #f1f1f1;
    padding: 0px 10px !important;
  }
  .input-label {
    color: #000 !important;
  }
  .transparent-select {
    background-color: transparent !important;
    border-radius: 2px !important;
    border: 1px solid darkgrey !important;
    text-align: left !important;
    margin: 0px 0 0px 0px !important;
    padding: 9px 2px 0px 6px !important;
    min-width: 100%;
    height: 35px;
  }
  .colors-select {
    background-color: transparent !important;
    margin: 0px !important;
    padding: 0px 0px 0px 5px !important;
    .item-inner {
      border-bottom: none !important;
      box-shadow: none !important;
      margin: 0px !important;
      padding: 0px !important;
    }
    .select-icon {
      margin-right: 8px !important;
    }
  }
  .product {
    img {
      width: 40%;
      margin: 5px;
      float: left;
    }
    .detail {
      width: 100%;
      h5 {
        font-size: 20px;
        min-height: 50px;
      }
    }
    .price {
      font-size: 15px;
      font-weight: 900;
      margin: 5px 0px;
    }
    .colors {
      min-width: 95%;
      padding: 5px;
      margin-top: 5px;
      border-radius: 20px;
    }
    .colors:focus {
      outline: none;
    }
    .sizes {
      padding: 0px 5px;
      flex-wrap: wrap;
      .col {
        background-color: #6cd0c5;
        color: #fff;
        border-radius: 2px;
        margin: 4px 3px 3px 3px;
        text-align: center;
        max-width: 22%;
        font-size: 71%;
      }
      .disabled {
        opacity: 0.4;
      }
      .selected {
        opacity: 0.9;
        background-color: violet;
      }
    }
  }
}

.my-card img {
  width: 50%;
}

.my-card {
  text-align: center;
  .list {
    .item {
      .item-inner {
        .label {
          white-space: normal !important;
        }
      }
    }
  }
}

.cardd {
  left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.clr_font {
  color: #8B8989;
  position: relative;
}

.clr2_font {
  color: #488aff;
  position: relative;
}

.sep {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.dirr {
  left: 50px;
}

.clr3_font {
  color: red;
  position: relative;
  margin-top: 12px;
  margin-left: -10px;
}

.dimen {

  left: -2px;
  top: 0px;
}

.dimen1 {
  top: 0px;
  right: -5px;
}

.dimen2 {
  top: 0px;
  right: 10px;
}

.alignments {
  position: relative;
  margin-top: -5px;
}

.beden-position {
  right: -10px;
}

.beden-position1 {
  margin-left: 10px;
}

.inventoryButton {
  background-color: $main-theme-color;
  width: 49% !important;
  height: 35px !important;
  color: #e2e4e4 !important;
  margin: 0px 0px 8px 0px !important;
  padding-left: 0px !important;
  border-radius: 2px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  background: none !important;
  text-transform: none !important;
  padding: 0 !important;
}
.inventoryButton_Shop {
  
  width: 49% !important;
  height: 35px !important;
  color: #e2e4e4 !important;
  margin: 0px 0px 8px 0px !important;
  padding-left: 0px !important;
  border-radius: 2px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  background: #32be23 !important;
  text-transform: none !important;
  padding: 0 !important;
}
.inventoryButton_Repository {
  
  width: 49% !important;
  height: 35px !important;
  color: #e2e4e4 !important;
  margin: 0px 0px 8px 0px !important;
  padding-left: 0px !important;
  border-radius: 2px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  background: #0e678a !important;
  text-transform: none !important;
  padding: 0 !important;
}

.hm_alternatives_scroll {
  width: 100%;
  h5{
    padding-left: 10px;
  }
  ion-slide {
    .slide-zoom {
      margin: 10px;
      
    }
  }
}

@keyframes slidein {
  0%   {margin-left:10px;}
  100% {margin-left:0px;}
}
.animation_label {
  animation-name: slidein;
  animation-duration: .9s;
  display: block;
}

