<ion-header>
  <ion-navbar>
    <ion-title>ÜRÜN</ion-title>
  </ion-navbar>
</ion-header>
<ion-content #container>
  <div class="product">
    <ion-row>
      <ion-col *ngIf="serverService.Settings.V3Settings.IsProductPhotos" style="max-width:150px" size-md="4">
        <img [defaultImage]="'assets/imgs/imageLoader.svg'" [offset]="'1'" (tap)="showImage()" *ngIf="color"
          [lazyLoad]="imageURL + '&colorcode=' + color" [scrollObservable]="container.ionScroll" />
        <img [defaultImage]="'assets/imgs/imageLoader.svg'" [offset]="'1'" (tap)="showImage()" *ngIf="!color"
          [lazyLoad]="imageURL" [scrollObservable]="container.ionScroll" />
      </ion-col>
      <ion-col size-md="4">
        <div class="detail">
          <h6>{{product.ItemDescription}}</h6>
          <!-- <p class="price">{{advancePrice}} ₺</p> -->
          <ion-label *ngIf="productColorSizeMatrix.length>0" class="top_labels" stacked>Renk</ion-label>
          <ion-item *ngIf="productColorSizeMatrix.length>0" class="colors-select">
            <ion-select class="transparent-select" [(ngModel)]="color" (ngModelChange)="setSizes()"
              okText="{{ 'SELECT_OK_TEXT' | translate }}" cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}">
              <ion-option *ngFor="let color of productColorSizeMatrix" [value]="color['R/B']">
                {{serverService.getColorDescription(color['R/B'])}}
                <!-- {{color['R/B']}} -->
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="productColors.length>0" class="colors-select">
              <ion-label class="input-label" stacked>Renk</ion-label>
              <ion-select class="transparent-select" [(ngModel)]="color" 
                  okText="{{ 'SELECT_OK_TEXT' | translate }}" cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}">
                  <ion-option *ngFor="let color of productColors" [value]="color.ColorCode">
                      {{serverService.getColorDescription(color.ColorCode)}}
                      <!-- {{color['R/B']}} -->
                  </ion-option>
              </ion-select>
          </ion-item>
          
          <ion-label *ngIf="sizes&&colHeaders" stacked>Beden</ion-label>
          <ng-container *ngIf="checkdatabase == 1">
            <ion-row class="sizes" *ngIf="sizes&&colHeaders">
              <ion-col *ngFor="let size of productColorSizeMatrixNew" [style.display]="(size.ItemDim1Code!='R/B')?'' : 'none'"
                [ngClass]="((size.ItemDim1Code=='R/B')?'':(size.AvailableInventoryQty1>0)?'':'disabled')"
                [style.background]="(size.ItemDim1Code == selectedSize)? '#6ad827eb' : ''" (tap)="setSelectedSize(size)">
                {{size.ItemDim1Code}}
              </ion-col>
            </ion-row>
          </ng-container>
          <ng-container *ngIf="checkdatabase != 1">
            <ion-row class="sizes" *ngIf="sizes&&colHeaders">
              <ion-col *ngFor="let size of colHeaders" [style.display]="(size.ItemDim1Code!='R/B')?'' : 'none'"
                [ngClass]="((size.ItemDim1Code=='R/B')?'':(sizes[size.ItemDim1Code]>0)?'':'disabled')"
                [style.background]="(size.ItemDim1Code == selectedSize)? '#6ad827eb' : ''" (tap)="setSelectedSize(size)">
                {{size.ItemDim1Code}}
              </ion-col>
            </ion-row>
          </ng-container>          
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="animation_label" *ngIf="quantities.length>0" [@enterAnimation] stacked>Adet</ion-label>
        <ion-item *ngIf="quantities.length>0" [@enterAnimation] class="colors-select">
          <ion-select class="transparent-select" [(ngModel)]="quantity" okText="{{ 'SELECT_OK_TEXT' | translate }}"
            cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}">
            <ion-option *ngFor="let quantity of quantities" [value]="quantity">{{quantity}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="hm_clear"></div>
    <!-- Buttons -->
    <ion-row>
      <ion-col size="4">
        <button ion-button (click)="gotoAllProductWarehousePage()" class="hm_btn_add_to_proposal_grey">Diğer Mağazalar</button>
      </ion-col>
      <ion-col size="4">
        <button ion-button (click)="gotoWarehousePage()" class="hm_btn_add_to_proposal_grey">Depo / Enventer</button>
      </ion-col>
      <ion-col size="4">
        <button ion-button (tap)="addToBasket()"
          class="hm_btn_add_to_proposal_green">{{ 'PRODUCT_ADD_TO_ORDER_LIST_BUTTON_TEXT' | translate }}</button>
      </ion-col>
    </ion-row>
  </div>

  <ion-item-divider color="light" class="list-title">
    <h3> Fiyat Listesi</h3>
  </ion-item-divider>
  <div class="my-card">
    <ion-list>
      <ion-item *ngFor="let prices of productPrices">
        <ion-label>{{prices.PaymentPlanDescription}} <span *ngIf="prices.ColorCode">({{prices.ColorCode}})</span></ion-label>
        <ion-label class="label-f-right">{{prices.Price}}{{getPriceGroup(prices.PaymentPlanCode)}}</ion-label>
      </ion-item>
      <ion-item *ngFor="let prices of productPricesIF">
        <ion-label>{{prices.PriceGroupDescription}} <span *ngIf="prices.ColorCode">({{prices.ColorCode}})</span></ion-label>
        <ion-label class="label-f-right">{{prices.Price}}{{getPriceGroup(prices.PaymentPlanCode)}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <!-- <div class="my-card">
    <ion-list>
      <ion-item *ngFor="let prices of PaymentPlanProductList; let i = index">
        <ion-label>{{PaymentPlanDescriptions[i]}} <span *ngIf="prices.ColorCode">({{prices.ColorCode}})</span></ion-label>
        <ion-label class="label-f-right">{{prices.Price}}{{getPriceGroup(prices.PaymentPlanCode)}}</ion-label>
      </ion-item>
    </ion-list>
  </div> -->

  <ion-item-divider color="light" class="list-title">
    <h3> Ürün Özellikleri</h3>
  </ion-item-divider>
  <div *ngIf="productDetails" class="my-card">
    <ion-list>
      <ion-item *ngIf="productDetails">
        <ion-label>Ürün Kodu</ion-label>
        <ion-label class="label-f-right">{{productDetails.ItemCode}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ürün Adı</ion-label>
        <ion-label class="label-f-right">{{productDetails.ItemDescription}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Vergi Grubu</ion-label>
        <ion-label class="label-f-right">{{productDetails.ItemTaxGrCode}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ürün Tipi</ion-label>
        <ion-label class="label-f-right">{{productDetails.ProductTypeDescription}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Özellik 1</ion-label>
        <ion-label class="label-f-right">{{productDetails.ProductAtt01Desc}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Özellik 2</ion-label>
        <ion-label class="label-f-right">{{productDetails.ProductAtt02Desc}}</ion-label>
      </ion-item>
      <ion-item *ngIf="checkdatabase != 1">
        <ion-label>Enventer</ion-label>
        <ion-label class="label-f-right">{{productDetails.Inventory}} {{productDetails.MesureCode}}</ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-label>Perakende Peşin Satış Fiyatı</ion-label>
        <ion-label class="label-f-right">
          {{productDetails.RetailSalePrice}} ₺ {{serverService.Settings.G3Settings.Currency}}</ion-label>
      </ion-item> -->
    </ion-list>
  </div>
  <ion-item-divider color="light" class="list-title">
    <h3> Benzer Ürünler</h3>
  </ion-item-divider>
  <ion-list>
    <ion-item>
      <div class="hm_alternatives_scroll my-card" *ngIf="alternatives.length>0">
        <ion-slides #slideId [loop]="false" [pager]="false" [slidesPerView]="2">
          <ion-slide *ngFor="let alternative of alternatives" (tap)="goToAlternativeProductDetail(alternative)">
            <img *ngIf="serverService.Settings.V3Settings.IsProductPhotos" [defaultImage]="'assets/imgs/imageLoader.svg'"
              [lazyLoad]="serverService.Settings.G3Settings.ImageUrl + '/Home/GetThumb?itemcode=' + alternative.ItemCode"
              [scrollObservable]="slideId.ionSlideDrag" [scrollObservable]="container.ionScroll" />
            <p style="white-space: normal;">{{alternative.ItemDescription}}</p>
          </ion-slide>
        </ion-slides>
      </div>
    </ion-item>
  </ion-list>
  <!-- <button ion-button (click)="gotoInventoryPage()" class="inventoryButton_Shop">Diğer Mağazalarda</button>
    <button ion-button (click)="gotoWarehousePage()" class="inventoryButton_Repository">Depo Enventer</button> -->
</ion-content>