page-customer {
  .clrHeader {
    font-size: 15px !important;
    font-weight: 500 !important;
  }
  .f-r{
    float: right;
  }
 
  .text-input-ios {
    text-align: end;
}

img {
  max-width: 100%;
  border: 0;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 300px;
  height: 178px;
}

input.text-input.text-input-md {
  opacity: 1;
  text-align: right;
  font-weight: bold;
}

.select-text {  
  font-size: 13px;
  font-weight: bold;
}
.bar-button-md{
  margin: 0 2.2rem !important;
}
.start-item {
  order:1;
}

  .txtStyle{    
    font-weight: bold;
  }

  .my-card .item.item-image {
    width: 100vw;
    margin-left: 100px;
  }
  .my-card.card {
    overflow: visible;
  }
  .my-card {
    margin-bottom: 10px;
  }
  .my-input {
    text-align: end;
  }
  ion-item-group {
    margin-bottom: 10px;
  }
  .toggle-inner {
    left: -8px !important;
    top: -10px !important;
  }
  .btncolor{
    background-color: transparent;
    color: #002D61;
  }
  .requirestar {
    color: #fc2f2fd6;
    font-size: 13px;
    position: relative;
    top: -3px;
    margin-right: 2px;
  }
}
