<ion-header>
    <ion-navbar>

        
        <ion-buttons class="ios-header-margin start-item" start>
            <button style="margin-right:-10px !important " *ngIf="showBack" ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{ 'CUSTOMER_TITLE_TEXT' | translate }}</ion-title>
        <ion-buttons class="ios-header-margin" end>
            <button ion-button icon-only (click)="onButtonClick()">
                <ion-icon [name]="buttonClicked ? 'folder-open' :'chatbubbles'" class="icon_color">
                </ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons class="ios-header-margin-25" end>
            <ion-toggle enabled checked="false" [(ngModel)]="editMode" *ngIf="!buttonClicked"></ion-toggle>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ng-container *ngIf="!buttonClicked">
        <!-- Müşteri bilgileri start -->
        <ion-item-group>
            <img defaultImage="https://cdn.shopify.com/s/files/1/0023/8013/6566/t/2/assets/default.png?1106"
                [lazyLoad]="imageURL" *ngIf="!checkimage" />
            <img [src]="base64Image" *ngIf="checkimage" />
            <button *ngIf="editMode" ion-button block (click)="takePicture()" style="margin-top: 10px;">
                <ion-icon name="camera"></ion-icon>
                &nbsp;&nbsp;
                Resim Çek
            </button>
            <!-- <button *ngIf="editMode" ion-button block (click)="saveImage()" style="margin-top: 10px;">                    
                    Kaydet
            </button>       -->

            <ion-item-divider outline class="list-title" style="margin-top: 10px;">
                <ion-icon name="person" item-start></ion-icon>
                <h5 color="primary" class="txtStyle">Müşteri Bilgileri</h5>
                <!-- <ion-label>{{customerModel.CurrAccCode}}</ion-label> -->
            </ion-item-divider>

            <ng-container *ngIf="checkdatabase == 1">
                <ion-item class="txtStyle">
                    <ion-label>{{ 'CUSTOMER_CUSTOMER_FIRSTNAME_LABEL_TEXT' | translate }}</ion-label>
                    <ion-input type="text" [disabled]="!editMode" [(ngModel)]="customerModel.FirstName">
                    </ion-input>
                </ion-item>
    
                <ion-item class="txtStyle">
                    <ion-label>{{ 'CUSTOMER_CUSTOMER_LASTNAME_LABEL_TEXT' | translate }}</ion-label>
                    <ion-input type="text" [disabled]="!editMode" [(ngModel)]="customerModel.LastName">
                    </ion-input>
                </ion-item>                           
            </ng-container>

            <ng-container *ngIf="checkdatabase == 0">
                <ion-item class="txtStyle">
                    <ion-label>{{ 'CUSTOMER_CUSTOMER_FIRSTNAME_LABEL_TEXT' | translate }}</ion-label>
                    <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="customerModel.FirstName">
                    </ion-input>
                </ion-item>
    
                <ion-item class="txtStyle">
                    <ion-label>{{ 'CUSTOMER_CUSTOMER_LASTNAME_LABEL_TEXT' | translate }}</ion-label>
                    <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="customerModel.LastName">
                    </ion-input>
                </ion-item>
            </ng-container>           

            <ion-item class="txtStyle">
                <ion-label><b class="requirestar">*</b>{{ 'CUSTOMER_CUSTOMER_IDENTITY_NUMBER_LABEL_TEXT' | translate }}
                </ion-label>
                <ion-input type="number" inputmode="numeric" pattern="[0-9]*" [disabled]="!editMode || !newMode"
                    [(ngModel)]="customerModel.IdentityNum" (keydown)="maxLength($event, 'IdentityNum', 11)"
                    onselectstart="return false" onpaste="return false;" id="IdentityNum" onCopy="return false"
                    (ionChange)="oninput($event)" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off required>
                </ion-input>
            </ion-item>

            <ng-container *ngIf="checkdatabase == 1">

                    <ng-container *ngIf="currencyCheck">
                        <ion-item class="txtStyle">
                            <ion-label>Para Birimi</ion-label>
                            <ion-input type="text" [disabled]="!editMode" [(ngModel)]="customerModel.CurrencyCode"></ion-input>   
                        </ion-item> 
                    </ng-container>

                    <ng-container *ngIf="!currencyCheck">
                        <ion-item class="txtStyle">    
                            <ion-label>Para Birimi</ion-label>                                                    
                            <ion-select [(ngModel)]="customerModel.CurrencyCode" multiple="false" (ionChange)="optionsFn()">                                   
                                <ion-option *ngFor="let item of curPlans" value="{{item.val}}">
                                    {{item.name}}
                                </ion-option>                                                                                                      
                            </ion-select>                                                                                                       
                        </ion-item>    
                    </ng-container>                    

                    <ion-item *ngIf="taxOffices.length>0" class="txtStyle">
                            <ion-label>{{ 'CUSTOMER_CUSTOMER_TAX_OFFICE_CODE_LABEL_TEXT' | translate }}</ion-label>
                            <ion-select [disabled]="!editMode || !newMode"
                                [(ngModel)]="customerModel.TaxOfficeCode" okText="{{ 'SELECT_OK_TEXT' | translate }}"
                                cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}">
                                <ng-container *ngIf="tempTaxCheck">
                                    <ion-option *ngFor="let taxOffice of taxOfficesTemp" value="{{taxOffice.TaxOfficeCode}}">
                                            {{taxOffice.TaxOfficeDescription}}
                                    </ion-option>
                                </ng-container>
                                <ng-container *ngIf="!tempTaxCheck">
                                        <ion-option *ngFor="let taxOffice of taxOffices" value="{{taxOffice.TaxOfficeCode}}">
                                                {{taxOffice.TaxOfficeDescription}}
                                        </ion-option>
                                </ng-container>                                                            
                            </ion-select>
                        </ion-item>
            
                        <ion-item *ngIf="taxOffices.length>0" class="txtStyle">
                            <ion-label>{{ 'CUSTOMER_CUSTOMER_TAX_NUMBER_LABEL_TEXT' | translate }}</ion-label>
                            <ion-input type="number" inputmode="numeric" pattern="[0-9]*"
                                [disabled]="!editMode || !newMode"
                                [(ngModel)]="customerModel.TaxNumber" (keydown)="maxLength($event, 'TaxNumber', 10)"
                                onselectstart="return false" onpaste="return false;" id="TaxNumber" onCopy="return false"
                                onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off placeholder="">
                               
                            </ion-input>
                        </ion-item>
            </ng-container>            

        </ion-item-group>
        <!-- müşteri bilgileri end -->

        <!-- iletişim bilgileri start -->
        <ion-item-divider color="light" class="list-title">
            <ion-icon name="call" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">
                {{ 'CUSTOMER_CUSTOMER_CONTACT_INFORMATIONS_DIVIDER_TITLE_TEXT' | translate }}</h5>

            <button item-end *ngIf="editMode" ion-button icon-only (click)="addCommAddress()">
                <ion-icon name="add"></ion-icon>
            </button>

        </ion-item-divider>

        <div class="my-card" *ngIf="checkdatabase == 1">
            <div no-padding *ngFor="let detail of customerModel.Communications">
                <ion-item *ngIf="detail.CommunicationTypeCode == 1">
                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_CONTACT_PHONE_LABEL_TEXT' | translate }}
                    </ion-label>
                    <ion-input class="my-input" type="tel" [brmasker]="{mask:'00000000000', len:12}"
                        [disabled]="!editMode"
                        [(ngModel)]="detail.CommAddress" placeholder="9002324444444">
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="detail.CommunicationTypeCode == 2">
                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_CONTACT_FAX_LABEL_TEXT' | translate }}</ion-label>
                    <ion-input type="tel"
                        [disabled]="!editMode"
                        [brmasker]="{mask:'00000000000', len:12}" [(ngModel)]="detail.CommAddress" 
                        placeholder="9002324444444"></ion-input>
                </ion-item>

                <ion-item *ngIf="detail.CommunicationTypeCode == 3">
                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_CONTACT_EMAIL_LABEL_TEXT' | translate }}
                    </ion-label>
                    <ion-input type="e-mail"
                        [disabled]="!editMode"
                        [(ngModel)]="detail.CommAddress"></ion-input>
                </ion-item>

                <ion-item *ngIf="detail.CommunicationTypeCode == 7">
                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_CONTACT_CELLPHONE_LABEL_TEXT' | translate }}
                    </ion-label>
                    <ion-input type="tel"
                        [disabled]="!editMode"
                        [brmasker]="{mask:'00000000000', len:12}" [(ngModel)]="detail.CommAddress"
                        placeholder="9005554444444"></ion-input>
                </ion-item>

            </div>
        </div>

        <div class="my-card" *ngIf="checkdatabase == 0">
            <div no-padding *ngFor="let detail of customerModel.Communications">
                <ion-item *ngIf="detail.CommunicationTypeCode == 1">
                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_CONTACT_PHONE_LABEL_TEXT' | translate }}
                    </ion-label>
                    <ion-input class="my-input" type="tel" [brmasker]="{mask:'00000000000', len:12}"
                        [disabled]="!editMode || detail.CommAddress != null && detail.CommunicationID != null"
                        [(ngModel)]="detail.CommAddress" placeholder="9002324444444">
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="detail.CommunicationTypeCode == 2">
                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_CONTACT_FAX_LABEL_TEXT' | translate }}</ion-label>
                    <ion-input type="tel"
                        [disabled]="!editMode ||  detail.CommAddress != null && detail.CommunicationID != null"
                        [brmasker]="{mask:'00000000000', len:12}" [(ngModel)]="detail.CommAddress" 
                        placeholder="9002324444444"></ion-input>
                </ion-item>

                <ion-item *ngIf="detail.CommunicationTypeCode == 3">
                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_CONTACT_EMAIL_LABEL_TEXT' | translate }}
                    </ion-label>
                    <ion-input type="e-mail"
                        [disabled]="!editMode ||  detail.CommAddress != null && detail.CommunicationID != null"
                        [(ngModel)]="detail.CommAddress"></ion-input>
                </ion-item>

                <ion-item *ngIf="detail.CommunicationTypeCode == 7">
                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_CONTACT_CELLPHONE_LABEL_TEXT' | translate }}
                    </ion-label>
                    <ion-input type="tel"
                        [disabled]="!editMode ||  detail.CommAddress != null && detail.CommunicationID != null"
                        [brmasker]="{mask:'00000000000', len:12}" [(ngModel)]="detail.CommAddress"
                        placeholder="9005554444444"></ion-input>
                </ion-item>

            </div>
        </div>

        <!-- iletişim bilgileri end -->
        <!-- adres bilgileri start -->
        <ion-item-divider color="light" class="list-title">
            <ion-icon name="mail" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">
                {{ 'CUSTOMER_CUSTOMER_ADDRESS_INFORMATIONS_DIVIDER_TITLE_TEXT' | translate }}<b
                    style="margin-left: 3px;" class="requirestar">*</b></h5>
            <button item-end *ngIf="editMode" ion-button icon-only (click)="addPostalAddresses()">
                <!--Count == 0-->
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-item-divider>

        <div class="my-card">
            <ion-list no-padding *ngFor="let detail of customerModel.PostalAddresses, let i = index">

                <ng-container *ngIf="checkdatabase == 1">
                        <ion-item>
                                <ion-label class="txtStyle"><b class="requirestar">*</b>Adres Açıklaması</ion-label>
                                <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail.AddressTypeCode"
                                    cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}"
                                    [disabled]="!editMode">
                                    <ion-option *ngFor="let item of addressDescriptions" disabled="{{item.Code==4}}"
                                        value="{{item.Code}}">{{item.Value}}
                                    </ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label class="txtStyle">Açık Adres</ion-label>
                                <ion-input type="text"
                                    [disabled]="!editMode"
                                    [(ngModel)]="detail.Address"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label class="txtStyle"><b
                                        class="requirestar">*</b>{{ 'CUSTOMER_CUSTOMER_ADDRESS_COUNTRY_CODE_LABEL_TEXT' | translate }}
                                </ion-label>
                                <ion-input type="text" [disabled]="true" placeholder="TR" [(ngModel)]="detail.CountryCode">
                                    <!-- (click)="onCountryClick()" -->
                                </ion-input>
                            </ion-item>
                            <ng-container *ngIf="detail.CountryCode == 'TR'">
                                <ion-item>
                                    <ion-label class="txtStyle"><b
                                            class="requirestar">*</b>{{ 'CUSTOMER_CUSTOMER_ADDRESS_STATE_CODE_LABEL_TEXT' | translate }}
                                    </ion-label>
                                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail.StateCode"
                                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}"
                                        [disabled]="!editMode || detail.StateCode != null && detail.PostalAddressID != null"
                                        (ionChange)="onStateChange()">
                                        <ion-option *ngFor="let item of stateList[i]" value="{{item.Code}}">{{item.Description}}
                                        </ion-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="txtStyle"><b
                                            class="requirestar">*</b>{{ 'CUSTOMER_CUSTOMER_ADDRESS_CITY_CODE_LABEL_TEXT' | translate }}
                                    </ion-label>
                                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail.CityCode"
                                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}"
                                        [disabled]="!editMode || detail.CityCode != null && detail.PostalAddressID != null"
                                        (ionChange)="onCityChange()">
                                        <ion-option *ngFor="let item of cityList[i]" value="{{item.Code}}">{{item.Description}}
                                        </ion-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="txtStyle"><b
                                            class="requirestar">*</b>{{ 'CUSTOMER_CUSTOMER_ADDRESS_DISTRICT_CODE_LABEL_TEXT' | translate }}
                                    </ion-label>
                                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail.DistrictCode"
                                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}"
                                        [disabled]="!editMode || detail.DistrictCode != null && detail.PostalAddressID != null">
                                        <ion-option *ngFor="let item of districtList[i]" value="{{item.Code}}">{{item.Description}}
                                        </ion-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_ADDRESS_BUILDING_NAME_LABEL_TEXT' | translate }}
                                    </ion-label>
                                    <ion-input type="text"
                                        [disabled]="!editMode || detail.BuildingNum != null && detail.PostalAddressID != null"
                                        [(ngModel)]="detail.BuildingNum"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_ADDRESS_FLOOR_NUMBER_LABEL_TEXT' | translate }}
                                    </ion-label>
                                    <ion-input type="text"
                                        [disabled]="!editMode || detail.FloorNum != null && detail.PostalAddressID != null"
                                        [(ngModel)]="detail.FloorNum"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_ADDRESS_DOOR_NUMBER_LABEL_TEXT' | translate }}
                                    </ion-label>
                                    <ion-input type="text"
                                        [disabled]="!editMode || detail.DoorNum != null && detail.PostalAddressID != null"
                                        [(ngModel)]="detail.DoorNum"></ion-input>
                                </ion-item>
                            </ng-container> 
                </ng-container>     

                <ng-container *ngIf="checkdatabase == 0">
                        <ion-item>
                                <ion-label class="txtStyle"><b class="requirestar">*</b>Adres Açıklaması</ion-label>
                                <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail.AddressTypeCode"
                                    cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}"
                                    [disabled]="!editMode || detail.AddressTypeCode != null && detail.PostalAddressID != null">
                                    <ion-option *ngFor="let item of addressDescriptions" disabled="{{item.Code==4}}"
                                        value="{{item.Code}}">{{item.Value}}
                                    </ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label class="txtStyle">Açık Adres</ion-label>
                                <ion-input type="text"
                                    [disabled]="!editMode || detail.Address != null && detail.PostalAddressID != null"
                                    [(ngModel)]="detail.Address"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label class="txtStyle"><b
                                        class="requirestar">*</b>{{ 'CUSTOMER_CUSTOMER_ADDRESS_COUNTRY_CODE_LABEL_TEXT' | translate }}
                                </ion-label>
                                <ion-input type="text" [disabled]="true" placeholder="TR" [(ngModel)]="detail.CountryCode">
                                    <!-- (click)="onCountryClick()" -->
                                </ion-input>
                            </ion-item>                            
                                <ion-item>
                                    <ion-label class="txtStyle"><b
                                            class="requirestar">*</b>{{ 'CUSTOMER_CUSTOMER_ADDRESS_STATE_CODE_LABEL_TEXT' | translate }}
                                    </ion-label>
                                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail.StateCode"
                                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}"
                                        [disabled]="!editMode || detail.StateCode != null && detail.PostalAddressID != null"
                                        (ionChange)="onStateChange()">
                                        <ion-option *ngFor="let item of stateList[i]" value="{{item.Code}}">{{item.Description}}
                                        </ion-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="txtStyle"><b
                                            class="requirestar">*</b>{{ 'CUSTOMER_CUSTOMER_ADDRESS_CITY_CODE_LABEL_TEXT' | translate }}
                                    </ion-label>
                                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail.CityCode"
                                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}"
                                        [disabled]="!editMode || detail.CityCode != null && detail.PostalAddressID != null"
                                        (ionChange)="onCityChange()">
                                        <ion-option *ngFor="let item of cityList[i]" value="{{item.Code}}">{{item.Description}}
                                        </ion-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="txtStyle"><b
                                            class="requirestar">*</b>{{ 'CUSTOMER_CUSTOMER_ADDRESS_DISTRICT_CODE_LABEL_TEXT' | translate }}
                                    </ion-label>
                                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail.DistrictCode"
                                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}"
                                        [disabled]="!editMode || detail.DistrictCode != null && detail.PostalAddressID != null">
                                        <ion-option *ngFor="let item of districtList[i]" value="{{item.Code}}">{{item.Description}}
                                        </ion-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_ADDRESS_BUILDING_NAME_LABEL_TEXT' | translate }}
                                    </ion-label>
                                    <ion-input type="text"
                                        [disabled]="!editMode || detail.BuildingNum != null && detail.PostalAddressID != null"
                                        [(ngModel)]="detail.BuildingNum"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_ADDRESS_FLOOR_NUMBER_LABEL_TEXT' | translate }}
                                    </ion-label>
                                    <ion-input type="text"
                                        [disabled]="!editMode || detail.FloorNum != null && detail.PostalAddressID != null"
                                        [(ngModel)]="detail.FloorNum"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="txtStyle">{{ 'CUSTOMER_CUSTOMER_ADDRESS_DOOR_NUMBER_LABEL_TEXT' | translate }}
                                    </ion-label>
                                    <ion-input type="text"
                                        [disabled]="!editMode || detail.DoorNum != null && detail.PostalAddressID != null"
                                        [(ngModel)]="detail.DoorNum"></ion-input>
                                </ion-item>                            
                </ng-container> 
                                              
            </ion-list>
        </div>

        <!-- adres bilgileri end -->
        <!-- personnel information Start -->
        <div>
            <ion-item-divider color="light" class="list-title">
                <ion-icon name="person" item-start></ion-icon>
                <h5 color="primary" class="txtStyle">Kişisel Bilgiler</h5>

                <button item-end *ngIf="editMode && !personelInfo" ion-button icon-only
                    (click)="presentPersonalInfoAlertRadio()">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-item-divider>

            <div *ngIf="personelInfo" no-padding>
                <ion-item class="txtStyle">
                    <ion-label>Doğum Yeri</ion-label>
                    <ion-input type="text" [disabled]="!editMode" [(ngModel)]="personelInfo.BirthPlace">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Doğum Tarihi</ion-label>
                    <ion-datetime class="date" min="1935" displayFormat="DD.MM.YYYY" [disabled]="!editMode"
                        pickerFormat="DD MM YYYY" [(ngModel)]="personelInfo.BirthDate">
                    </ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">Cinsiyet</ion-label>
                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="personelInfo.GenderCode"
                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}" [disabled]="!editMode || !newMode">
                        <ion-option *ngFor="let item of genderCode" value="{{item.Code}}">{{item.Value}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item class="txtStyle" *ngIf="personelInfo.GenderCode == '2'">
                    <ion-label>Bekarlık Soyadı</ion-label>
                    <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="personelInfo.MaidenName">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Anne Adı</ion-label>
                    <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="personelInfo.MotherName">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Baba Adı</ion-label>
                    <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="personelInfo.FatherName">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">Aylık Kazanç</ion-label>
                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="personelInfo.MonthlyIncome"
                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}" [disabled]="!editMode || !newMode">
                        <ion-option *ngFor="let item of monthlyIncome" value="{{item.Code}}">{{item.Value}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">Ehliyet Tipi</ion-label>
                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}"
                        [(ngModel)]="personelInfo.DrivingLicenceType"
                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}" [disabled]="!editMode || !newMode">
                        <ion-option *ngFor="let item of drivingLicenceType" value="{{item.Code}}">{{item.Value}}
                        </ion-option>
                    </ion-select>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Ehliyet Numarası</ion-label>
                    <ion-input type="text" [disabled]="!editMode || !newMode"
                        [(ngModel)]="personelInfo.DrivingLicenceTypeNum">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Kimlik Belgesi No.</ion-label>
                    <ion-input type="text" [disabled]="!editMode || !newMode"
                        [(ngModel)]="personelInfo.IdentityCardNum">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Nüfusa Kayıtlı İl Kodu</ion-label>
                    <ion-input type="text" [disabled]="!editMode || !newMode"
                        [(ngModel)]="personelInfo.RegisteredCityCode" placeholder="TR.35"></ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Nüfusa Kayıtlı İlçe Kodu</ion-label>
                    <ion-input type="text" [disabled]="!editMode || !newMode"
                        [(ngModel)]="personelInfo.RegisteredDistrictCode" placeholder="TR.03502"></ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Nüfusa Kayıtlı Mahalle/Köy</ion-label>
                    <ion-input type="text" [disabled]="!editMode || !newMode" [(ngModel)]="personelInfo.RegisteredTown">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Kayıtlı Sıra No.</ion-label>
                    <ion-input type="number" [disabled]="!editMode || !newMode"
                        [(ngModel)]="personelInfo.RegisteredNum">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Kütük Kayıt No.</ion-label>
                    <ion-input type="text" [disabled]="!editMode || !newMode"
                        [(ngModel)]="personelInfo.RegisteredRecordNum">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Kayıtlı Aile Sıra No.</ion-label>
                    <ion-input type="text" [disabled]="!editMode || !newMode"
                        [(ngModel)]="personelInfo.RegisteredFamilyNum">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Kayıtlı Cilt No.</ion-label>
                    <ion-input type="text" [disabled]="!editMode || !newMode"
                        [(ngModel)]="personelInfo.RegisteredFileNum">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>SGK No.</ion-label>
                    <ion-input type="number" [disabled]="!editMode || !newMode"
                        [(ngModel)]="personelInfo.SocialInsuranceNumber">
                    </ion-input>
                </ion-item>
            </div>
        </div>
        <!-- personnel information end -->
        <!-- Müşteri Sınıfı START -->

        <!-- Guarantor Start -->
        <div *ngIf="!newMode">
            <ion-item-divider color="light" class="list-title">
                <ion-icon name="people" item-start></ion-icon>
                <h5 color="primary" class="txtStyle">
                    {{ 'GUARANTORS_TITLE_TEXT' | translate }}</h5>
                <button item-end *ngIf="editMode" ion-button icon-only (click)="addGuarantor()">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-item-divider>

            <div *ngIf="guarantors" no-padding>
                <ion-item class="txtStyle" *ngFor="let item of guarantors">
                    <ion-label>{{item.FirstName + ' ' +item.LastName}}</ion-label>
                </ion-item>
            </div>
        </div>
        <!-- Guarantor End -->
        <div>
            <ion-item-divider color="light" class="list-title" class="txtStyle">
                <ion-icon name="apps" item-start></ion-icon>
                <h5 color="primary">{{ 'CUSTOMER_CUSTOMER_ATTRIBUTES_DIVIDER_TITLE_TEXT' | translate }}</h5>
            </ion-item-divider>
            <ion-item>
                <ion-label class="txtStyle">Oturma Süresi</ion-label>
                <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="AttributeCode13"
                    cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}" [disabled]="!editMode">
                    <ion-option *ngFor="let item of customerAttributeDesc13" value="{{item.Code}}">{{item.Value}}
                    </ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label class="txtStyle">Mülkiyet Durumu</ion-label>
                <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="AttributeCode14"
                    cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}" [disabled]="!editMode">
                    <ion-option *ngFor="let item of customerAttributeDesc14" value="{{item.Code}}">{{item.Value}}
                    </ion-option>
                </ion-select>
            </ion-item>
            <ion-item (click)="editMode && clickJobStuation()">
                <ion-label class="txtStyle">İş Durumu</ion-label>
                <ion-label>
                    <h6 class="f-r">{{AttDesc17}}</h6>
                </ion-label>
                <!-- <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="AttributeCode17"
                    cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}" [disabled]=true>
                    <ion-option *ngFor="let item of attributeType17List" value="{{item.AttributeCode}}">
                        {{item.AttributeDescription}}
                    </ion-option>
                </ion-select> -->
            </ion-item>
            <ion-list *ngIf="!editMode">
                <ion-item *ngFor="let att of attributes" class="txtStyle">
                    <ion-label>{{att.AttributeTypeDescription}}</ion-label>
                    <ion-label><h6 class="f-r">{{att.AttributeDescription}}</h6></ion-label>
                </ion-item>
            </ion-list>

            <div *ngIf="!editMode">
                <ion-item-divider color="light" class="list-title"
                    *ngIf="serverService.Settings.V3Settings.SalesType==2||serverService.Settings.V3Settings.SalesType==3">
                    <ion-icon name="document" item-start></ion-icon>
                    <h5 color="primary" class="txtStyle">
                        {{ 'CUSTOMER_CUSTOMER_CREDIT-DEBT_INFORMATION_DIVIDER_TITLE_TEXT' | translate }}</h5>
                </ion-item-divider>
                <ion-list *ngFor="let debit of customerDebit">
                    <ion-item class="txtStyle">
                        <ion-label>
                            <h6 class="clrHeader">Döviz Tipi</h6>
                        </ion-label>
                        <ion-label>
                            <h6 class="clrHeader f-r">{{debit.DovizTipi}}</h6>
                        </ion-label>
                    </ion-item>
                    <ion-item class="txtStyle">
                        <ion-icon name="ios-alert-outline" item-start small></ion-icon>
                        <ion-label>
                            <h6 class="clr">{{ 'CUSTOMER_CUSTOMER_LOCAL_CREDIT_LABEL_TEXT' | translate }}</h6>
                        </ion-label>
                        <ion-label>
                            <h6 class="f-r">{{debit.TLAlacak}}</h6>
                        </ion-label>
                    </ion-item>
                    <ion-item class="txtStyle">
                        <ion-icon name="ios-alert-outline" item-start small></ion-icon>
                        <ion-label>
                            <h6 class="clr">{{ 'CUSTOMER_CUSTOMER_LOCAL_DEBT_LABEL_TEXT' | translate }}</h6>
                        </ion-label>
                        <ion-label>
                            <h6 class="f-r"> {{debit.TLBorc}}</h6>
                        </ion-label>
                    </ion-item>
                    <ion-item class="txtStyle">
                        <ion-icon name="ios-alert-outline" item-start small></ion-icon>
                        <ion-label>
                            <h6 class="clr">{{ 'CUSTOMER_CUSTOMER_LOCAL_BALANCE_LABEL_TEXT' | translate }}</h6>
                        </ion-label>
                        <ion-label>
                            <h6 class="f-r"> {{debit.TLBakiye}}</h6>
                        </ion-label>
                    </ion-item>
                    <ion-item *ngFor="let overduepay of overduePayment" class="txtStyle">
                        <ion-icon name="ios-alert-outline" item-start small></ion-icon>
                        <ion-label>
                            <h6 class="clr">Gecikmiş Ödeme</h6>
                        </ion-label>
                        <ion-label>
                            <h6 class="f-r">{{overduepay.RemainingInstallment}}</h6>
                        </ion-label>
                    </ion-item>
                    <div *ngIf="serverService.Settings?.V3Settings.IsExchange == true">
                        <ion-item class="txtStyle">
                            <ion-icon name="ios-alert-outline" item-start small></ion-icon>
                            <ion-label>
                                <h6 class="clr">{{ 'CUSTOMER_CUSTOMER_FOREIGN_CREDIT_LABEL_TEXT' | translate }}</h6>
                            </ion-label>
                            <ion-label>
                                <h6> {{debit.DovizAlacak}}</h6>
                            </ion-label>
                        </ion-item>
                        <ion-item class="txtStyle">
                            <ion-icon name="ios-alert-outline" item-start small></ion-icon>
                            <ion-label>
                                <h6 class="clr">{{ 'CUSTOMER_CUSTOMER_FOREIGN_DEBT_LABEL_TEXT' | translate }}</h6>
                            </ion-label>
                            <ion-label>
                                <h6 class="f-r"> {{debit.DovizBorc}}</h6>
                            </ion-label>
                        </ion-item>
                        <ion-item class="txtStyle">
                            <ion-icon name="ios-alert-outline" item-start small></ion-icon>
                            <ion-label>
                                <h6 class="clr">{{ 'CUSTOMER_CUSTOMER_FOREIGN_BALANCE_LABEL_TEXT' | translate }}</h6>
                            </ion-label>
                            <ion-label>
                                <h6 class="f-r"> {{debit.DovizBakiye}}</h6>
                            </ion-label>
                        </ion-item>
                    </div>
                </ion-list>
            </div>


            <!-- <ion-item-divider color="light" class="list-title"
                *ngIf="overduePayment.length >0 && serverService.Settings.V3Settings.SalesType==2||serverService.Settings.V3Settings.SalesType==3">
                <ion-icon name="document" item-start></ion-icon>
                <h5 color="primary" class="txtStyle">Gecikmiş Ödeme</h5>
            </ion-item-divider>
            <ion-list *ngIf="overduePayment.length >0">
                <ion-item *ngFor="let overduepay of overduePayment" class="txtStyle">
                    <ion-icon name="ios-alert-outline" item-start small></ion-icon>
                    <ion-label>
                        <h6 class="clr">{{serverService.convertDate(overduepay.LastPaymentDate)}}</h6>
                    </ion-label>
                    <ion-label>
                        <h6 class="f-r">{{overduepay.RemainingInstallment}} </h6>
                    </ion-label>
                </ion-item>
            </ion-list> -->
            <!--installments-->
            <!--*ngIf="serverService.Settings.V3Settings.SalesType==3"-->
            <button ion-button class="hm_sign_btn" *ngIf="serverService.Settings.V3Settings.SalesType == 3 || !editMode"
                (tap)="gotoInstallments()">{{
            'CUSTOMER_CUSTOMER_INSTALLMENT_INFORMATION_DIVIDER_TITLE_TEXT' | translate }}
            </button>

            <!--customerExtra-->
            <button ion-button class="hm_sign_btn" (tap)="gotoExtras()"
                *ngIf="serverService.Settings.V3Settings.SalesType == 1 || serverService.Settings.V3Settings.SalesType == 4 || !editMode">{{
        'CUSTOMER_CUSTOMER_STATEMENT_INFORMATION_DIVIDER_TITLE_TEXT' | translate }}
            </button>

        </div>

    </ng-container>
    <ng-container *ngIf="buttonClicked">
        <ion-item-divider outline class="list-title">
            <ion-icon name="person" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">Kullanıcı Uyarıları</h5>
        </ion-item-divider>
        <ion-item class="txtStyle" *ngFor="let custoinfo of customerInformation" no-lines>
            <ion-label text-wrap>
                <p>Uyarılar :</p>
                <p style="color: red;">{{custoinfo.Information}}</p>
            </ion-label>
        </ion-item>
        <ion-item-divider outline class="list-title">
            <ion-icon name="person" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">Kullanıcı Notları</h5>
        </ion-item-divider>
        <ion-item class="txtStyle" *ngFor="let custoinfo of customerWarning" no-lines>
            <ion-label text-wrap>
                <p>Notlar :</p>
                <p style="color: red;">{{custoinfo.LineDescription}}</p>
            </ion-label>
        </ion-item>
    </ng-container>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button class="hm_sign_btn" [disabled]="!editMode"
            (click)="addCustomer()">{{ 'SAVE_BUTTON_TEXT' | translate }}
        </button>
    </ion-toolbar>
</ion-footer>