
<ion-header>
    <ion-navbar>
        <ion-title>Kefil Ekle</ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="closeModalCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-item-group>

        <ion-item-divider outline class="list-title" style="margin-top: 10px;">
            <ion-icon name="person" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">Kefil Bilgileri</h5>
            <!-- <ion-label>{{customerModel.CurrAccCode}}</ion-label> -->
        </ion-item-divider>
        <ion-item class="txtStyle">
            <ion-label>Adı</ion-label>
            <ion-input type="text" [(ngModel)]="guarantorName">
            </ion-input>
        </ion-item>

        <ion-item class="txtStyle">
            <ion-label>Soyadı</ion-label>
            <ion-input type="text" [(ngModel)]="guarantorLastName">
            </ion-input>
        </ion-item>

        <ion-item class="txtStyle">
            <ion-label><b class="requirestar">*</b>T.C. Kimlik No.</ion-label>
            <ion-input type="number" inputmode="numeric" pattern="[0-9]*" (ionChange)='oninput($event)'
                [(ngModel)]="guarantorIdentityNum" (keydown)="maxLength($event, 'IdentityNum11', 11)"
                onselectstart="return false" onpaste="return false;" id="IdentityNum11" onCopy="return false"
                onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off>
            </ion-input>

        </ion-item>

        <ion-item-divider color="light" class="list-title">
            <ion-icon name="call" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">
                İletişim Bilgileri
            </h5>
        </ion-item-divider>
        <ion-item class="txtStyle">
            <ion-label><b class="requirestar">*</b>Telefon</ion-label>
            <ion-input type="tel" [(ngModel)]="guarantorTel" [brmasker]="{mask:'00000000000', len:11}">
            </ion-input>
        </ion-item>

        <ion-item-divider color="light" class="list-title">
            <ion-icon name="mail" item-start></ion-icon>
            <h5 color="primary" class="txtStyle">
                Adres Bilgileri
            </h5>
        </ion-item-divider>

        <div class="my-card">
            <ion-list no-padding>
                <ion-item>
                    <ion-label class="txtStyle"><b class="requirestar">*</b>Adres Açıklaması</ion-label>
                    <ion-select [(ngModel)]="detail_AddressTypeCode">
                        <ion-option *ngFor="let item of addressDescriptions" value="{{item.Code}}">{{item.Value}}
                        </ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">Açık Adres</ion-label>
                    <ion-input type="text" [(ngModel)]="detail_Address">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">
                        <b class="requirestar">*</b>Ülke
                    </ion-label>
                    <ion-input type="text" [disabled]="true" placeholder="TR" [(ngModel)]="detail_CountryCode">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">
                        <b class="requirestar">*</b>Bölge
                    </ion-label>
                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail_StateCode"
                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}" [disabled]="" (ionChange)="onStateChange()">
                        <ion-option *ngFor="let item of stateList" value="{{item.Code}}">{{item.Description}}
                        </ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">
                        <b class="requirestar">*</b>İl
                    </ion-label>
                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail_CityCode"
                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}" [disabled]="" (ionChange)="onCityChange()">
                        <ion-option *ngFor="let item of cityList" value="{{item.Code}}">{{item.Description}}
                        </ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">
                        <b class="requirestar">*</b>İlçe
                    </ion-label>
                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail_DistrictCode"
                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}" [disabled]="">
                        <ion-option *ngFor="let item of districtList" value="{{item.Code}}">{{item.Description}}
                        </ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">
                        Bina No.
                    </ion-label>
                    <ion-input type="number" [(ngModel)]="detail_BuildingNum" [brmasker]="{mask:'0000', len:4}">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">
                        Kat No.
                    </ion-label>
                    <ion-input type="number" [(ngModel)]="detail_FloorNum" [brmasker]="{mask:'0000', len:4}">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">
                        Daire No.
                    </ion-label>
                    <ion-input type="number" [(ngModel)]="detail_DoorNum" [brmasker]="{mask:'0000', len:4}">
                    </ion-input>
                </ion-item>
            </ion-list>
        </div>
        <!-- personnel information Start -->
        <div>
            <ion-item-divider color="light" class="list-title">
                <ion-icon name="person" item-start></ion-icon>
                <h5 color="primary" class="txtStyle">Kişisel Bilgiler</h5>
            </ion-item-divider>

            <div no-padding>
                <ion-item class="txtStyle">
                    <ion-label><b class="requirestar">*</b>Doğum Yeri</ion-label>
                    <ion-input type="text" [(ngModel)]="personelInfo_BirthPlace">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label><b class="requirestar">*</b>Doğum Tarihi</ion-label>
                    <ion-datetime class="datetime" min="1935" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"
                        [(ngModel)]="personelInfo_BirthDate">
                    </ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle"><b class="requirestar">*</b>Cinsiyet</ion-label>
                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="personelInfo_GenderCode"
                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}">
                        <ion-option *ngFor="let item of genderCode" value="{{item.Code}}">{{item.Value}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Anne Adı</ion-label>
                    <ion-input type="text" [(ngModel)]="personelInfo_MotherName">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Baba Adı</ion-label>
                    <ion-input type="text" [(ngModel)]="personelInfo_FatherName">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle" *ngIf="personelInfo_GenderCode == '2'">
                    <ion-label>Bekarlık Soyadı</ion-label>
                    <ion-input type="text" [(ngModel)]="personelInfo_MaidenName">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">Aylık Kazanç</ion-label>
                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="personelInfo_MonthlyIncome"
                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}">
                        <ion-option *ngFor="let item of monthlyIncome" value="{{item.Code}}">{{item.Value}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">Ehliyet Tipi</ion-label>
                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}"
                        [(ngModel)]="personelInfo_DrivingLicenceType"
                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}">
                        <ion-option *ngFor="let item of drivingLicenceType" value="{{item.Code}}">{{item.Value}}
                        </ion-option>
                    </ion-select>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Ehliyet Numarası</ion-label>
                    <ion-input type="text" [(ngModel)]="personelInfo_DrivingLicenceTypeNum">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Kimlik Belgesi No.</ion-label>
                    <ion-input type="text" [(ngModel)]="personelInfo_IdentityCardNum">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Nüfusa Kayıtlı İl Kodu</ion-label>
                    <ion-input type="text" [(ngModel)]="personelInfo_RegisteredCityCode" placeholder="TR.35">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Nüfusa Kayıtlı İlçe Kodu</ion-label>
                    <ion-input type="text" [(ngModel)]="personelInfo_RegisteredDistrictCode" placeholder="TR.03502">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Nüfusa Kayıtlı Mahalle/Köy</ion-label>
                    <ion-input type="text" [(ngModel)]="personelInfo_RegisteredTown">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Kayıtlı Sıra No.</ion-label>
                    <ion-input type="number" [(ngModel)]="personelInfo_RegisteredNum">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Kütük Kayıt No.</ion-label>
                    <ion-input type="text" [(ngModel)]="personelInfo_RegisteredRecordNum">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Kayıtlı Aile Sıra No.</ion-label>
                    <ion-input type="text" [(ngModel)]="personelInfo_RegisteredFamilyNum">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>Kayıtlı Cilt No.</ion-label>
                    <ion-input type="text" [(ngModel)]="personelInfo_RegisteredFileNum">
                    </ion-input>
                </ion-item>
                <ion-item class="txtStyle">
                    <ion-label>SGK No.</ion-label>
                    <ion-input type="number" [(ngModel)]="personelInfo_SocialInsuranceNumber">
                    </ion-input>
                </ion-item>
            </div>
        </div>
        <!-- personnel information end -->
    </ion-item-group>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button class="hm_sign_btn" (click)="returnGuarantorData()">Ekle
        </button>
    </ion-toolbar>
</ion-footer>