page-product-menu {
    .product_menu_btn_green{
        width: 100%;
        height: 40px;
        color: white;
        background-color: #31b931;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .product_menu_btn_blue{
        width: 100%;
        height: 40px;
        color: white;
        background-color: #19bf43;
    }
    .barcode_pic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: fill;
        height: 30%;
        width: 60%;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
    }

    .barcode_pic h1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0 !important;
        margin-bottom: 0;
        object-fit: fill;
        height: 100%;
        width: 100%;
        text-align: center;
        position: relative;
        top: 46%;
    }
    
}
