<ion-header>
  <ion-navbar>
    <ion-title (tap)="goTobarcodeTestPage()">{{ 'PRODUCT-MENU_TITLE_TEXT' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>      
  <div (click)="scanBarcode()" class="barcode_pic">
    <h1>Barkod Okutmak İçin Tıklayın</h1>
  </div>
  <hr style="margin-top: 20px;">
  <button ion-button (click)="goToAttributeTypesPage()" class="product_menu_btn_blue">{{ 'PRODUCT-MENU_SELECT_ATTRIBUTE_TYPE_BUTTON_TEXT' | translate }}</button>
  <button ion-button (click)="filterModal()" class="product_menu_btn_blue">Ürün Filtrele</button>
  
  <!-- <button style="margin-top:50px;" ion-button (click)="scanBarcode()" class="product_menu_btn_green">{{ 'PRODUCT-MENU_SCAN_BARCODE_BUTTON_TEXT' | translate }}</button> -->
  <!-- <button ion-button (click)="goToProductsPage()" class="hm_btn">{{ 'PRODUCT-MENU_LIST_ALL_PRODUCTS_BUTTON_TEXT' | translate }}</button> -->
  
</ion-content>
