<ion-header>
    <ion-navbar>
        <ion-title>Diğer Mağazalar</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-list padding>
        <ion-item no-lines>
            <ion-row class="alignments">
                <ion-col>
                    <p class="clr_font">Mağaza</p>
                </ion-col>
                <ion-col>
                    <h3 class="clr3_font dimen2">Renk / Beden</h3>
                </ion-col>
                <ion-col>
                    <p class="clr2_font dimen1">Envanter</p>
                </ion-col>                
            </ion-row>
        </ion-item>

        <ng-container *ngFor="let item of ProductWarehouse">
            <!--ion-item *ngIf="item.Inventory > 0 && item.WarehouseCode.charAt(0) != 'P'" -->
            <ion-item *ngIf='item.OfficeCode != serverService.Settings.V3Settings.OfficeCode && item.StoreCode != serverService.Settings.V3Settings.StoreCode'>
                <ion-row *ngIf='item.Inventory > 0'>
                    <ion-col>
                        <h4 class="clr_font">{{item.WarehouseDescription}}</h4>
                    </ion-col>
                    <ion-col>
                        <h3 class="clr3_font beden-position1" item-end> ({{item.ColorCode}}) / {{item.ItemDim1Code}}
                        </h3>
                    </ion-col>
                    <ion-col *ngIf="item.Inventory <= 0">
                        <p style="color: red" class="clr2_font beden-position"> {{item.Inventory}}</p>
                    </ion-col>
                    <ion-col *ngIf="item.Inventory > 0">
                        <p class="clr2_font beden-position"> {{item.Inventory}}</p>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf='item.Inventory > 0'>
                    <button ion-button small (click)="presentAlert(item)">Transfer Et</button>
                </ion-row>
            </ion-item>
        </ng-container>
    </ion-list>
</ion-content>