<ion-header>
  <ion-navbar>                    
      <ion-buttons start>
          <button ion-button icon-only (click)="closeModalCancel()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>                 
  <ion-row>
      <ion-col col-12>
          <ion-label>Ürün Adı Giriniz</ion-label>
          <ion-input class="inputtext" type="text" [(ngModel)]="productname"></ion-input>                      
      </ion-col>
  </ion-row>
  <ion-row>
          <ion-col col-12>
              <ion-label>Ürün Kodu Giriniz</ion-label>
              <ion-input class="inputtext" type="text" [(ngModel)]="productcode"></ion-input>                                  
          </ion-col>
  </ion-row>      
</ion-content>

<ion-footer>
  <button ion-button block color="secondary" (click)="closeModal()">Filtrele</button>
  <button ion-button block color="#30A0BA" (click)="closeModalCancel()">İptal</button>
</ion-footer>
  