<ion-header>
  <ion-navbar>
      <ion-title>Adres Ekle</ion-title>
      <ion-buttons start>
          <button ion-button icon-only (click)="closeModalCancel()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-group>
      <div class="my-card">
          <ion-list no-padding>
              <ion-item>
                  <ion-label class="txtStyle"><b class="requirestar">*</b>Adres Açıklaması</ion-label>
                  <ion-select [(ngModel)]="detail_AddressTypeCode">
                      <ion-option *ngFor="let item of addressDescriptions" value="{{item.Code}}" disabled="{{item.Code == 4}}">
                        {{item.Value}}
                      </ion-option>
                  </ion-select>
              </ion-item>
              <ion-item>
                  <ion-label class="txtStyle">Açık Adres</ion-label>
                  <ion-input type="text" [(ngModel)]="detail_Address">
                  </ion-input>
              </ion-item>
              <ion-item>
                  <ion-label class="txtStyle">
                      <b class="requirestar">*</b>Ülke
                  </ion-label>                  
                  <select-searchable [disabled]="checkdatabase == 0" 
                    [placeholder]="placeholder"
                    item-content [(ngModel)]="detail_CountryCodenew" [items]="worldList"
                    itemValueField="Code" itemTextField="Description" [canSearch]="false" (onChange)="portChange($event)">
                  </select-searchable>
              </ion-item>                            
            <ng-container *ngIf="detail_world == 'TR'">
                <ion-item>
                        <ion-label class="txtStyle">
                            <b class="requirestar">*</b>Bölge
                        </ion-label>
                        <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail_StateCode"
                            cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}" [disabled]="" (ionChange)="onStateChange()">
                            <ion-option *ngFor="let item of stateList" value="{{item.Code}}">{{item.Description}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">
                        <b class="requirestar">*</b>İl
                    </ion-label>
                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail_CityCode"
                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}" [disabled]="" (ionChange)="onCityChange()">
                        <ion-option *ngFor="let item of cityList" value="{{item.Code}}">{{item.Description}}
                        </ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">
                        <b class="requirestar">*</b>İlçe
                    </ion-label>
                    <ion-select okText="{{ 'SELECT_OK_TEXT' | translate }}" [(ngModel)]="detail_DistrictCode"
                        cancelText="{{ 'SELECT_CANCEL_TEXT' | translate }}" [disabled]="">
                        <ion-option *ngFor="let item of districtList" value="{{item.Code}}">{{item.Description}}
                        </ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">
                        Bina No.
                    </ion-label>
                    <ion-input type="number" [(ngModel)]="detail_BuildingNum" [brmasker]="{mask:'0000', len:4}">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">
                        Kat No.
                    </ion-label>
                    <ion-input type="number" [(ngModel)]="detail_FloorNum" [brmasker]="{mask:'0000', len:4}">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="txtStyle">
                        Daire No.
                    </ion-label>
                    <ion-input type="number" [(ngModel)]="detail_DoorNum" [brmasker]="{mask:'0000', len:4}">
                    </ion-input>
                </ion-item>
            </ng-container>              
          </ion-list>
      </div>
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <button ion-button class="hm_sign_btn" (click)="returnAddressData()">Ekle
      </button>
  </ion-toolbar>
</ion-footer>