<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'INVENTORY_TITLE_TEXT' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #container padding class="hm_sign_bg">
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="true"
    cancelButtonText="{{ 'SEARCHBAR_CANCEL_BUTTON_TEXT' | translate }}"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)"
    (keydown.enter)="doFilter()">
  </ion-searchbar>
  <hr>
  <div class="hm_message_div">
    <ul *ngIf="productInventory">
      <li (click)="goToProductDetail(product)" *ngFor="let inventory of filteredproductInventory">
        <div *ngIf="serverService.Settings.V3Settings.IsProductPhotos" class="hm_message_pic">
          <img [defaultImage]="'assets/imgs/imageLoader.svg'" [scrollObservable]="container.ionScroll"
               [lazyLoad]="serverService.Settings.G3Settings.ImageURL + '/Home/GetThumb?itemcode='+ inventory.ItemCode + '&colorcode=' + inventory.ColorCode"/>
        </div>
        <div class="hm_message_detail">
          <p style="display: inline-block; width: 50%;color: #000;"><strong>{{ 'INVENTORY_STORE_TEXT' | translate }}</strong></p><p style="display: inline-block; width: 50%;color: #000;"><strong>:</strong>&nbsp;{{(inventory.StoreName) ? inventory.StoreName: '&nbsp;'}}</p>
          <p style="display: inline-block; width: 50%;color: #000;"><strong>{{ 'INVENTORY_SIZE_TEXT' | translate }}</strong></p><p style="display: inline-block; width: 50%;color: #000;"><strong>:</strong>&nbsp;{{inventory.ItemDim1Code}}</p>
        </div>
        <div class="hm_message_date">
          <p style="color: #000;font-weight: bold;">{{ 'INVENTORY_QUANTITY_TEXT' | translate }}</p>
          <p>{{inventory.Inventory}}</p>
        </div>
        <div class="hm_clear"></div>
      </li>
    </ul>
  </div>
</ion-content>
