page-extra-report {
    .footer-total{        
        color: blue;
        font-weight: bold;
    }
    ion-card {
        border-radius:10px !important;            
    }
    .bottomtext {
        font-size: 17px; 
        color: #002D61; 
        font-weight: bold;
        text-align: center;
    }

    .scroll-content{
        margin-bottom: 56px;
      }

    .item-md h3, .item-md h4, .item-md h5, .item-md h6 {        
        font-size: 15px;     
    }

    .list-md {
        margin: 0; 
        padding-bottom: 70px;
    }   

    .col_text {
        font-size: 18px;
    }     
    .baslikblue {
        color: #002D61; 
        font-weight: bold;
    }
    .btncolor {
        border-color: #002D61;
        color: #002D61;
    }

    ion-icon {
        color: white;
    }
    .headerStyle{        
        color: #002D61; 
        font-size: 16px; 
        font-weight: bold;
        background-color: #ffffff;
        margin-top: 0px;
    }

    .headerStyle2{        
        color: #002D61; 
        font-size: 16px; 
        font-weight: bold;
        background-color: #ffffff;
        padding-top: 10px;
    }    

    .card-content-md {
        padding: 0px;
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .segment-md-dark .segment-button {       
        background-color: white;
    }

    .segment-md-dark .segment-button.activated, .segment-md-dark .segment-button.segment-activated {       
        background-color: white;
        color: #488aff;
        font-size: 15px;
    }

    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: #488aff;     
    }

    .segment-ios-dark .segment-button.segment-activated {
        color: #488aff;
        font-size: 16px;
        background-color: #fff;
    }

    .segment-ios-dark .segment-button {
        border-color: #fff;        
    }

    ion-row.row {
        padding: 5px 0px 5px 0px;
    }
    
}
