<ion-header>
    <ion-navbar>
        <ion-title>Ekstre Detay Raporu</ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="filterModal()" *ngIf="page == '0'">
                <ion-icon name="search"></ion-icon>
            </button>
            <!---
        <button ion-button icon-only (click)="onButtonClick()" *ngIf="page == '0'">
            <ion-icon 
                [name]="buttonClicked ? 'list' :'albums'">
            </ion-icon>
        </button>
        -->
            <button ion-button icon-only (click)="refreshFilter()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-segment color="dark" [(ngModel)]="page">
        <ion-segment-button value="0">
            Ekstre
        </ion-segment-button>
        <ion-segment-button value="1">
            Taksit
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content style="background-color: #F0F0F0">

    <ng-container *ngIf="buttonClicked">
        <ion-card *ngFor="let item of customerExtra">
            <ion-card-content class="col_text">
                <ion-row>
                    <ion-col col-6 class="baslikblue">
                        İşlem :
                    </ion-col>
                    <ion-col col-6>
                        <p class="col_text">{{item.Type}}</p>
                        <p class="col_text">{{item.RefNumber}}</p>
                        <p class="col_text">{{serverService.convertDateTime(item.DocumentDate) | date: 'yyyy-MM-dd'}}
                        </p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6 class="baslikblue">
                        Borç :
                    </ion-col>
                    <ion-col col-6>
                        {{item.Loc_Debit + " ₺"}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6 class="baslikblue">
                        Alacak :
                    </ion-col>
                    <ion-col col-6>
                        {{item.Loc_Credit + " ₺"}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6 class="baslikblue">
                        Bakiye :
                    </ion-col>
                    <ion-col col-6>
                        {{item.Loc_BalanceAccumulative + " ₺"}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <button (click)="goToOrderDetails(item)" class="btncolor" ion-button block outline
                        style="font-size: 18px; margin-top: 8px;">Fatura Detayı</button>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ng-container>

    <ng-container *ngIf="page == '0' && !buttonClicked">
        <ion-row id="headerStyle" class="headerStyle">
            <ion-col width-33>Tarih</ion-col>
            <ion-col width-33>Belge No.</ion-col>
            <ion-col width-33>Tutar</ion-col>
        </ion-row>
        <ion-grid style="background-color: #F0F0F0; font-size: 16px;">
            <ng-container *ngIf="!serverService.Settings.V3Settings.IsExchange">
                <ion-row *ngFor="let item of customerExtraResult; let i = index;" (click)="goToOrderDetails(item)"
                    [ngStyle]="{'background-color': i % 2 == 0 ? '#def0fd' : '#ffffff'}" style="color: #484848;">
                    <ion-col width-33>
                        {{serverService.convertDateTime(item.DocumentDate) | date: 'yyyy-MM-dd'}}
                    </ion-col>
                    
                    <ion-col width-33>
                        {{item.RefNumber}}
                    </ion-col>
                    <ion-col width-33 *ngIf="!checkNetAmount">
                      {{item.NetAmount}} ₺
                    </ion-col>

                    <ion-col width-33 *ngIf="checkNetAmount">
                        {{item.Doc_NetAmount}} ₺
                      </ion-col>
                </ion-row>
            </ng-container>
        </ion-grid>
        <!--
        <ion-grid style="background-color: #F0F0F0; font-size: 16px;">
            <ng-container *ngIf="!serverService.Settings.V3Settings.IsExchange">
                <ion-row *ngFor="let item of customerExtra; let i = index;" (click)="goToOrderDetails(item)" [ngStyle]="{'background-color': i % 2 == 0 ? '#def0fd' : '#ffffff'}" style="color: #484848;">                    
                    <ion-col col-5>{{item.ProcessDescription}} <br> 
                                   Ref No: {{item.RefNumber}} <br>
                                   Tarih: {{serverService.convertDateTime(item.DocumentDate) | date: 'yyyy-MM-dd'}} </ion-col>                    
                    <ion-col col-2>{{item.Loc_Debit}}₺</ion-col>
                    <ion-col col-3>{{item.Loc_Credit}}₺</ion-col>
                    <ion-col col-2>{{item.Loc_BalanceAccumulative}}₺</ion-col>
                </ion-row>
            </ng-container>
            <ng-container *ngIf="serverService.Settings.V3Settings.IsExchange">
                <ion-row *ngFor="let item of customerExtra; let i = index;" (click)="goToOrderDetails(item)" [ngStyle]="{'background-color': i % 2 == 0 ? '#def0fd' : '#ffffff'}" style="color: #484848;">
                    <ion-col width-40>{{item.Type}} : {{item.RefNumber}}
                            {{serverService.convertDateTime(item.DocumentDate) | date: 'yyyy-MM-dd'}} </ion-col>
                    <ion-col width-20>{{serverService.convertDateTime(item.DueDate) | date: 'yyyy-MM-dd'}}</ion-col>
                    <ion-col width-15>{{item.Loc_Debit}}₺</ion-col>
                    <ion-col width-15>{{item.Loc_Credit}}₺</ion-col>
                    <ion-col width-15>{{item.Loc_BalanceAccumulative}}₺</ion-col>
                </ion-row>  
            </ng-container>               
        </ion-grid>
        -->
    </ng-container>

    <ng-container *ngIf="page == '1'" style="margin-top: 15px;">
        <ion-item no-lines>
            <h2 class="headerStyle">Taksit Tarihi</h2>
            <h2 class="headerStyle2" item-end>Taksit Tutarı</h2>
        </ion-item>
        <ion-list>
            <button ion-item *ngFor="let item of installments_summary" (click)="goToInstallmentDetails(item)">
                <h4 class="clr_font">{{item.DueDate}}</h4>
                <h3 class="clr3_font" item-end>{{item.InstallmentAmount}} ₺</h3>
            </button>
        </ion-list>
    </ng-container>
    <!--  
  <ion-grid>
    <div *ngFor="let item of customerExtra">
      <ion-row *ngIf="!serverService.Settings.V3Settings.IsExchange" (click)="goToOrderDetails(item)">
        <ion-col width-40>{{item.Type}} : {{item.RefNumber}}
            {{serverService.convertDateTime(item.DocumentDate) | date: 'yyyy-MM-dd'}} </ion-col>
        <ion-col width-15>{{item.Loc_Debit}}₺</ion-col>
        <ion-col width-15>{{item.Loc_Credit}}₺</ion-col>
        <ion-col width-15>{{serverService.convertDateTime(item.DueDate) | date: 'yyyy-MM-dd'}}</ion-col>
        <ion-col width-15>{{item.Loc_BalanceAccumulative}}₺</ion-col>
      </ion-row>
      <ion-row *ngIf="serverService.Settings.V3Settings.IsExchange" (click)="goToOrderDetails(item)">
          <ion-col width-40>{{item.Type}} : {{item.RefNumber}}
              {{serverService.convertDateTime(item.DocumentDate) | date: 'yyyy-MM-dd'}} </ion-col>
          <ion-col width-15>{{item.Doc_Debit}}$</ion-col>
          <ion-col width-15>{{item.Doc_Credit}}$</ion-col>
          <ion-col width-15>{{serverService.convertDateTime(item.DueDate) | date: 'yyyy-MM-dd'}}</ion-col>
          <ion-col width-15>{{item.Doc_BalanceAccumulative}}$</ion-col>
        </ion-row>
    </div>
  </ion-grid>
  -->
</ion-content>

<ion-footer>
    <ion-card>
        <ion-card-content>            
            <ion-row *ngIf="page == '1'" text-center>
                <ion-col>
                    <p class="bottomtext">Toplam Taksit Tutarı</p>
                    <p class="bottomtext">{{installmentTotal + " ₺"}}</p>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="page == '0'" text-center>
                <ion-col>
                    <p class="bottomtext">Toplam Tutarı</p>
                    <p class="bottomtext">{{tempTotal + " ₺"}}</p>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>    
</ion-footer>

<!--
      <ion-row class="footer-total">
        <ion-col width-40>{{'PROPOSAL_TOTAL_TEXT' | translate}}</ion-col>
        <ion-col width-15>{{total_debit}}</ion-col>
        <ion-col width-15>{{total_credit}}</ion-col>
        <ion-col width-15></ion-col>
        <ion-col width-15>{{total}}</ion-col>
      </ion-row> 
    -->