<ion-header>
  <ion-navbar>
    <ion-title>Taksit Detay</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="closeModalCancel()">
          <ion-icon name="arrow-back"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-item no-lines>
        <h2 class="headerStyle">Taksit Tarihi</h2>
        <h2 class="headerStyle" item-end>Taksit Tutarı</h2>
    </ion-item>
  <ion-list>
    <button ion-item *ngFor="let item of installments">      
      <h4 class="clr_font">{{serverService.convertDateTime(item.DueDate) | date: 'dd-MM-yyyy'}}</h4>
      <h3 class="clr3_font" item-end>{{item.RemainingInstallment}} ₺</h3>
    </button>
  </ion-list>
</ion-content>
