page-installments-detail {
    .headerStyle{        
        color: #002D61; 
        font-size: 16px; 
        font-weight: bold;
        background-color: #ffffff;
    }
    .item-md h3, .item-md h4, .item-md h5, .item-md h6 {        
        font-size: 15px;     
    }
}
