<!--
  Generated template for the CampaignMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CAMPAIGN_MAIN-PAGE_TITTLE_TEXT' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <button ion-button (click)="goToCampaignCreatePage()" class="hm_btn">YZ Kampanya Oluştur</button>
  <button ion-button (click)="goToActiveCampaignsPage()" class="hm_sign_btn">{{ 'CAMPAIGN_MAIN-PAGE_ACTIVE-CAMPAIGNS_BUTTON_TEXT' | translate }}</button>
  <button ion-button (click)="setProductRateAndInsertTable()" class="hm_btn">Rate</button>
</ion-content>
