<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="{{ 'TABS_HOMEPAGE_TEXT' | translate }}" tabIcon="home"><span class="tab-button-text">Anasayfa</span></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="{{ 'TABS_PRODUCTS_TEXT' | translate }}" tabIcon="cube"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="{{ 'TABS_CUSTOMERS_TEXT' | translate }}" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="{{ 'TABS_ORDER_TEXT' | translate }}" tabIcon="cart" tabBadge="{{serverService?.getItemsLength()}}" tabsHideOnSubPages="true" ></ion-tab>
  <ion-tab  [root]="tab5Root" tabTitle="Bildirim" tabIcon="notifications" tabBadge="{{serverService?.getNotificationCount()}}"></ion-tab>
</ion-tabs>
