<ion-header>
  <ion-navbar>
      <ion-title>Kampanyalı Ürünler</ion-title>
      <ion-buttons start>
          <button ion-button icon-only (click)="closeModal()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-list>
        <div class="hm_message_div">
          <ul>
            <li *ngFor="let item of itemArray, let i = index"> <!--(click)="goTo(customer)"-->
              <div class="hm_message_detail_f_left">
                <h4>{{item.ItemDescription}}</h4>
                <h4>{{item.ItemCode}}</h4>
              </div>
              <div class="hm_message_detail_f_left">
                <h4>{{item.ItemFailTypeDesc}}</h4>
                <h4>{{item.ItemFailTypeCode}}</h4>
              </div>
              <div class="hm_message_date">
                <ion-icon (click)="deleteItem(i)" style="font-size: 25px;" name="close-circle"></ion-icon>
              </div>
              <div class="hm_clear"></div>
            </li>
          </ul>
        </div>
      </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
      <button ion-button class="hm_sign_btn" (click)="saveItems()">Kaydet
      </button>
  </ion-toolbar>
</ion-footer>