<ion-header>
  <ion-navbar>
    <ion-title>Kapanmayan Siparisler</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item (tap)="presentConfirmAlert(item)" *ngFor="let item of list">
      <div item-content>
        <ion-label>İsteyen Mağaza : {{item.ToStoreDescription}}</ion-label>
        <ion-label>{{item.ItemDescription}}</ion-label>
        <ion-label>{{item.ItemCode}} - {{item.Barcode}}</ion-label>
      </div>

      <div item-content item-end>                
        <ion-label>{{serverService.getColorDescription(item.ColorCode)}}</ion-label>
        <ion-label>{{item.ItemDim1Code}}</ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>