<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (tap)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'CUSTOMER_CUSTOMER_ADDRESS_COUNTRY_CODE_LABEL_TEXT' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
          [(ngModel)]="myInput"
          [showCancelButton]="true"
          cancelButtonText="{{ 'SEARCHBAR_CANCEL_BUTTON_TEXT' | translate }}"
          (ionInput)="onInput($event)"
          (ionCancel)="onCancel($event)"
          (keydown.enter)="onInput($event)">
  </ion-searchbar>

  <ion-list>
    <button ion-item *ngFor="let item of countryListTmp" (click)="selectCountry(item)">
      <ion-label>{{item.Description}}</ion-label>
    </button>
  </ion-list>
</ion-content>
