<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'HOME_REPORTS_TEXT' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="hm_sign_bg">

  <div class="hm_message_div">
    <ul>
      <li (click)="goToReportTypePage()">
        <div class="hm_message_pic">
          <img style="width:84%; height:84%; margin-top: 5px;" class="reports" />
        </div>
        <div class="hm_message_detail">
          <h4>{{ 'REPORT_EXTRA_TXT' | translate }}</h4>
          <p>{{ 'REPORT_EXTRA_DESC_TXT' | translate }}</p>
        </div>
        <div class="hm_message_date">
          <img class="forward_arrow"/>
        </div>
        <div class="hm_clear"></div>
      </li>

      <li (click)="goToOrderReport()">
        <div class="hm_message_pic">
          <img style="width:84%; height:84%; margin-top: 5px;" class="reports" />
        </div>
        <div class="hm_message_detail">
          <h4>{{ 'REPORT_ORDER_TXT' | translate }}</h4>
          <p>{{ 'REPORT_ORDER_DESC_TXT' | translate }}</p>
        </div>
        <div class="hm_message_date">
          <img class="forward_arrow"/>
        </div>
        <div class="hm_clear"></div>
      </li>      

      <li (click)="goToProducts()" *ngIf="checkdatabase != 1">
        <div class="hm_message_pic">
          <img style="width:84%; height:84%; margin-top: 5px;" class="reports" />
        </div>
        <div class="hm_message_detail">
          <h4>Envanter Raporu</h4>
          <p>Ürünlerin stok durumları</p>
        </div>
        <div class="hm_message_date">
          <img class="forward_arrow"/>
        </div>
        <div class="hm_clear"></div>
      </li>

    </ul>
  </div>
</ion-content>
