<ion-header>
  <ion-navbar>
    <ion-title>Taksit Bilgisi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list padding>
    <button ion-item *ngFor="let item of installments_summary" (click)="goToInstallmentDetails(item)">
      <h4 class="clr_font">{{item.ApplicationDescription}} - {{item.InstallmentAmount}}₺</h4>
      <h4 class="clr_font">{{item.DueDate}}</h4>
      <h3 class="clr3_font" item-end>{{item.InstallmentAmount}}₺</h3>
    </button>
   </ion-list>
</ion-content>
