<ion-header>
  <ion-navbar>
    <ion-title>{{titleName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img [src]="imageView" *ngIf="imageView" />
  <img [src]="imageView2" *ngIf="imageView2" />
  <br/>    
  <ion-row>
    <ion-col>
      <button *ngIf="!activeback" ion-button class="submit-btn" full type="submit" (click)="takePictureWeb()">Ön Resim Ekle</button>
    </ion-col>
    <ion-col>
      <button *ngIf="!activeback" ion-button class="submit-btn" [disabled]="!imageData" full type="submit" (click)="uploadPhotoFront()">Yükle</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button *ngIf="activeback" ion-button class="submit-btn" full type="submit" (click)="takePictureWebFront()">Arka Resim Ekle</button>
    </ion-col>
    <ion-col>
      <button *ngIf="activeback" ion-button class="submit-btn" [disabled]="!imageData2" full type="submit" (click)="uploadPhotoBack()">Yükle</button>
    </ion-col>
  </ion-row>
</ion-content>