page-order-report {
  .add-button {
    background-color: #ffffff;
    color: #000000;
    font-size: 28px;
    font-weight: bolder;
  }


  .footer-total {
    color: blue;
    font-weight: bold;
  }  
  
  ion-card {
    border-radius:10px !important;    
  }

  ion-icon { 
    font-size: 27px; 
  }
  .col{    
    border: think solid black !important;

  }

  .col_text {
    font-size: 20.5px; 
  } 

  .btncolor {
    border-color: #002D61;
    color: #002D61;
  }

  .icon_color {
    color: white;
  }   

  ion-col .iconcol{
    color: #002D61;
  }
  
.headerStyle{
  color: #002D61; 
  font-size: 16px; 
  font-weight: bold;
  background-color: #ffffff;
  padding: 5px;
}
.scroll-content {
  margin-top: 94px !important;
  margin-bottom: 40px !important;
} 
}
