<ion-header>
  <ion-navbar>
    <ion-title>{{  'SELECT-ORDER_TITLE_TEXT' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="back()" *ngIf="nextPage">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
      <button ion-button icon-only (click)="filterModal()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only [disabled]="checkdatabase == 1" (click)="onButtonClick()">
        <ion-icon [name]="buttonClicked ? 'list' :'albums'" class="icon_color">
        </ion-icon>
      </button>
      <button ion-button icon-only (click)="refreshFilter()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-row id="headerStyle" class="headerStyle">
    <ion-col width-15>{{'CUSTOMER_TITLE_TEXT' | translate}}</ion-col>
    <ion-col width-15>{{'ORDER_NUMBER_TEXT' | translate}}</ion-col>
    <ion-col width-15>{{'DATE_TEXT' | translate}}</ion-col>
    <ion-col *ngIf="checkdatabase == 0" width-5>Tutar</ion-col>
  </ion-row>
</ion-header>

<ion-content style="background-color: #F0F0F0">
  <ng-container *ngIf="buttonClicked">
    <ion-card *ngFor="let item of items">
      <ion-card-content class="col_text">
        <ion-row style="border-bottom: 1px solid #F0F0F0; margin-top: 5px">
          <ion-col col-1>
            <ion-icon name="person" class="iconcol"></ion-icon>
          </ion-col>
          <ion-col col-5 style="padding-left: 15px;">
            {{item.CurrAccDescription}}
          </ion-col>
          <ion-col col-1>
            <ion-icon name="calendar" class="iconcol"></ion-icon>
          </ion-col>
          <ion-col col-5 style="padding-left: 15px;">
            {{serverService.convertDate(item.OrderDate)}}
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 8px">
          <ion-col col-1>
            <ion-icon name="clipboard" class="iconcol"></ion-icon>
          </ion-col>
          <ion-col col-11 style="padding-left: 15px;">
            {{item.OrderNumber}}
          </ion-col>
        </ion-row>
        <ion-row>
          <button (click)="goTo(item)" class="btncolor" ion-button block outline
            style="font-size: 18px; margin-top: 8px;">Sipariş Detayı</button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="!buttonClicked">
    <ion-grid style="background-color: #F0F0F0; font-size: 17px;">
      <ion-row (click)="goTo(item)" *ngFor="let item of items; let i = index;"
        [ngStyle]="{'background-color': i % 2 == 0 ? '#def0fd' : '#ffffff'}"
        style="color: #484848; text-align: left; padding: 5px;">
        <ion-col width-40>{{item.CurrAccDescription}}</ion-col>
        <ion-col width-15>{{item.OrderNumber}}</ion-col>
        <ion-col width-15>{{serverService.convertDate(item.OrderDate)}}</ion-col>
        <ion-col *ngIf="checkdatabase == 0" width-5>{{item.Tutar}} ₺</ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <!--ion-list>
    <button ion-item *ngFor="let item of items" (click)="goTo(item)">
      <h4>{{item.CurrAccDescription}}</h4>
      <h3 item-end>{{serverService.convertDate(item.OrderDate)}}</h3>
      <p> {{item.OrderNumber}} </p>
    </button>
  </ion-list -->
</ion-content>