<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'PRODUCTS_TITLE_TEXT' | translate }}
    </ion-title>
    <ion-buttons end>        
        <button ion-button icon-only (click)="filterModal()">
          <ion-icon name="search"></ion-icon>
        </button>
        <!-- <button ion-button icon-only (click)="refreshFilter()">
          <ion-icon name="refresh"></ion-icon>    
      </button>  -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="hm_sign_bg" #container>  
  <div class="hm_message_div_product">
    <ul>
      <li (click)="goTo(product)" *ngFor="let product of items">
        <div *ngIf="serverService.Settings.V3Settings.IsProductPhotos" class="hm_message_pic">
          <img [defaultImage]="'assets/imgs/imageLoader.svg'" [lazyLoad]="serverService.Settings.G3Settings.ImageUrl + '/Home/GetThumb?itemcode='+ product.ItemCode" [scrollObservable]="container.ionScroll" *ngIf="product.ItemCode"/>
          <div class="hm_message_not" *ngIf="product.Qty1">{{product.Qty1}}</div>
        </div>
        <div class="hm_message_detail">
          <h4>{{product.ItemDescription}}</h4>
          <p>{{ 'PRODUCTS_PRODUCT_CODE_TEXT' | translate }} {{product.ItemCode}}</p>
        </div>
        <div class="hm_message_date">
          <img class="forward_arrow"/>
          <!-- <p>{{product.Price}}</p> -->
        </div>
        <div class="hm_clear"></div>
      </li>
    </ul>
  </div>
</ion-content>
